[2014-05-20 12:56] acka47 opened #1 "lobid API 2.0"
In the past weeks we have discussed some additions to the lobid API that would result in incompatibilities with the existing API version 1.x.x and thus would mean a change to version 2.0.0.

This is the main issue to discuss the changes included in this version upgrade. Tickets for individual work packages will be linked to this issue.

[2014-05-21 12:51] fsteeg opened #3 "Add cookbook-style API documentation"
Provide detailed, step-by-step instructions on how to use the lobid API for an app:
- Getting data from the API, with HTTP requests
- Processing the `short` and `ids` JSON format for autocomplete
- Processing the `full` JSON format, get data from specific fields

Provide sample code and projects implemented in Java (server) and JavaScript (client).

[2014-05-22 08:12] acka47 opened #4 "Show preferredName of GND resources in lobid HTML"
Currently, only labels for persons are shown and not for corporate bodies etc., see http://www.lobid.org/resource/HT016323545/about. After deploying https://github.com/lobid/lodmill/issues/354 we can now easily show labels for all the different `gnd:AuthorityResource`s.

[2014-05-22 08:32] acka47 opened #5 "Variant name not found with name-query"
Unexpected behaviour: http://lobid.org/subject?q=SWIB11 returns result as expected but http://lobid.org/subject?name=SWIB11 doesn't although the variant name should be taken into account.

[2014-05-22 10:05] acka47 opened #8 "Biographical information, date of birth etc. not show in HTML/RDFa"
The information is not shown although it is in the data. See e.g. http://api.lobid.org/subject?id=120321785.

This may be due to the language tag respectively the xsd datatype used on the values.

[2014-05-22 11:45] #5 closed, assigned to nobody

[2014-05-23 11:52] #4 closed, assigned to dr0i

[2014-05-23 14:28] fsteeg opened #12 "Support multiple type filters"
Required both for @edoweb and NWBib.

[2014-06-06 09:51] acka47 opened #13 "Show results for organisation query on one map"
It would be nice if the HTML result of a query to the /organisation endpoint would not be presented as a list in HTML but as markers on a map.

[2014-06-23 12:38] acka47 opened #15 "Search when clicking on creator"

[2014-06-23 12:39] #15 closed, assigned to nobody

[2014-06-24 07:41] acka47 opened #16 "Also search altLabel with name query on /organisation endpoint"
Currently, only `foaf:name` is searched with a ?name query at http://lobid.org/organisation but not `skos:altLabel`. Example:
- http://lobid.org/organisation?name=usb+k%C3%B6ln doesn't give back any results though [DE-38](http://lobid.org/organisation/DE-38/about) has "Köln USB" indicated as skos:altLabel.

[2014-06-24 09:42] #16 closed, assigned to fsteeg

[2014-06-30 08:17] donboern opened #17 "Handhabung von gelöschten Saätzen"
Ich bin auf einen Satz gestoßen, der in den Ausgangsdaten aber unlängst gelöscht wurde, weil er wohl eine Dublette war. Es erscheint mir sinnvoll, dass die einmal ausgegebene URI noch vorhanden ist. Einen Kommentar oder sonstigen Hinweis in den Daten, dass dieser Satz eigentlich gelöscht ist, fände ich aber ebenfalls sinnvoll.

Satz bei lobid:
http://lobid.org/resource/HT017160923/about

Löschmeld

[2014-07-02 09:55] fsteeg opened #18 "Include online 'holdings' in owner="*" queries"
And add two new params: `online`, `offline`

This would allow selection of just offline, just online, any holdings, e.g. in nwbib.

[2014-07-02 13:39] #18 closed, assigned to fsteeg

[2014-07-08 13:24] acka47 opened #20 "Problem with using URIs as part of /subject endpoint requests"
These don't work though they should:
- http://lobid.org/resource?subject=http://d-nb.info/gnd/4000626-8 (in contrast to http://lobid.org/resource?subject=4000626-8 which works)

With author queries the problem doesn't exist, e.g.:
- http://lobid.org/resource?author=http://d-nb.info/gnd/118696432
- lobid.org/resource?author=http://d-nb.info/gnd/118634313

[2014-07-10 15:50] #20 closed, assigned to fsteeg

[2014-07-17 14:39] acka47 opened #27 "Enable wildcard search (truncation) for titles"
E.g. http://lobid.org/resource?name=Honigku* should work analogous to http://lobid.org/resource?q=Honigku*

[2014-07-17 15:17] fsteeg opened #28 "by-name queries yield too many results"
eg http://api.lobid.org/subject?name=Heinsberg&format=full (but true for all by-name queries)

First hit is a person _from_ Heinsberg, not _named_ Heinsberg, caused by usage of the same field name in different JSON objects. This is caused by all the resolved labels in the record (which we added by user request). I don't think we can solve this on the Elasticsearch query level.

We often discuss th

[2014-07-21 14:31] acka47 opened #29 "Reproduce getting hbz01 XML clob from Aleph"

[2014-07-21 14:32] acka47 opened #30 "Create testset for full data processing workflow"
~100k resources + items (including resources from api doc page & test files) + examples from github issues

[2014-07-31 08:51] acka47 opened #33 "acka47"

[2014-07-31 08:51] #33 closed, assigned to nobody

[2014-07-31 08:55] acka47 opened #34 "Evaluate use of schema.org for organisation data"
As we have to do some tweaking for organisation data in lobid anyway (https://github.com/lobid/lodmill/issues/486, ), we might think about switching to schema.org if it covers all our needs. Whether this is the case will be explored in this ticket.

This would have consequences on efforts on aligning RDF representation in lobid and ISIL registry (https://github.com/lobid/lodmill/issues/181), thoug

[2014-08-08 07:16] #29 closed, assigned to dr0i

[2014-08-14 14:27] jschnasse opened #35 "Missing HT-Resources"
During one of my random tests i found that the following catalog resources are missing:

http://lobid.org/resource/HT017635356
http://lobid.org/resource/HT018354945
http://lobid.org/resource/HT017635377
http://lobid.org/resource/HT017635307
http://lobid.org/resource/HT018190576
http://lobid.org/resource/HT018353930
http://lobid.org/resource/HT018355128
http://lobid.org/resource/HT017634526
http://

[2014-08-22 07:44] acka47 opened #37 "Add "MAB source" tab in UI"
After https://github.com/lobid/lodmill/issues/478 it should be possible to view the source data besides the different RDF via a designated "MAB source" tab.

[2014-08-22 10:14] acka47 opened #38 "Resource queries based on alternate labels of creators and contributors"
Goal:

- http://lobid.org/resource?author=H%C3%B6te,%20Iohann%20Volfqanq (Ergebnisse müssen identisch sein zu http://lobid.org/resource?author=Goethe,%20Johann%20Wolfgang%20von)
- http://lobid.org/resource?author=%22Ntostogiephski,%20Phiontor%20Micha%C3%AFlobits%22 (Ergebnisse müssen identisch sein zu http://lobid.org/resource?author=Dostoevskij,%20F%C3%ABdor%20Michajlovi%C4%8D)

[2014-08-22 10:25] acka47 opened #39 "Resource queries based on prefered and alternate labels of subjects"
Goal:
- http://lobid.org/resource?subject=klimawandel, http://lobid.org/resource?subject=klimaveränderung, http://lobid.org/resource?subject=klimawechsel should all yield results and furthermore the same results.
-  http://lobid.org/resource?subject=ebola-fieber http://lobid.org/resource?subject=Maridifieber (Maybe the label including a hyphen makes different result sets...)
- http://lobid.org/res

[2014-08-22 11:28] fsteeg opened #40 "Support sorting results by date"

[2014-08-25 11:44] #40 closed, assigned to fsteeg

[2014-08-26 08:47] acka47 opened #43 "Transform and index hbz01 data based on new full dump"
Some titles are missing that were added on some days in February 2014. We need to re-index the data based on a full dump that was generated after that period.

[2014-08-26 08:47] acka47 opened #44 "Support querying with different ISBN & ISSN variants"
On the data level, we should omit the `bibo:isbn13` property and only use `bibo:isbn` with the different variants.

Example queries that should yield the same results:
- http://test.lobid.org/resource?id=978-3518461983, http://test.lobid.org/resource?id=9783518461983, http://test.lobid.org/resource?id=978-3-518-46198-3, http://test.lobid.org/resource?id=978%203%20518%2046198%203
-  http://test.lob

[2014-08-27 12:48] acka47 opened #45 "Add possibility to search for ranges of publication date"
Example:

http://test.lobid.org/resource?publisher=suhrkamp&issued=1997-1999

[2014-08-27 14:13] #45 closed, assigned to fsteeg

[2014-08-28 08:27] #28 closed, assigned to nobody

[2014-08-29 06:42] #30 closed, assigned to dr0i

[2014-09-15 09:54] acka47 opened #52 "Many electronic journals are of type lv:Misc"
See e.g. http://lobid.org/nwbib/search?query=*&medium=http%3A%2F%2Frdvocab.info%2FtermList%2FRDACarrierType%2F1010&owner=all&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FJournal where a good part of electronic journals are also typed as miscellaneous.

[2014-09-17 13:51] acka47 opened #54 "Add "RSWK-Formschlagwörter" to RDF"
If possible, analogous to information from fields 050 to 052. (See https://wiki1.hbz-nrw.de/x/E4AyAQ.)

[2014-09-18 13:32] acka47 opened #55 "Add labels to LinkedGeoData entities"
[Example](http://lobid.org/resource/HT018209127) (snippet, current state):

[code]
To this, the rdfs:label information should be added from LinkedGeoData, but only for the German label. Example (snippet, envisioned result):

[code]

(We would also have to add rdfs:label to the JSON-LD context.)

[2014-09-24 09:37] acka47 opened #57 "Set up monitoring of data workflow on status.lobid.org"
The current workflow being:

changes/addition of record via Aleph client ->
daily generating of AlephXML clobs ->
files to webserver ->
copy into file system ->
transformation flux ->
Mysql_DB ->
Dump into HDFS ->
Conversion to JSON & indexing into elasticserch ->
API adjustments (if needed, e.g. JSON LD context, HTML, NWbib ...)

We have to set up monitoring for (all? some?) of these steps.

[2014-10-01 08:53] acka47 opened #62 "URN should be not analyzed"
See e.g. http://lobid.org/resource/123/about.

[2014-10-01 08:55] acka47 opened #63 "Return 404 not found for URIs with no RDF response"
Examples:
- ~~http://lobid.org/organisation/DE-Bm3-3~~
- http://lobid.org/resource/1234567

[2014-10-01 09:00] acka47 opened #64 "Non-existing holding organizations"
We have a problem with holding organisation's ISILs that don't have a corresponding /organistion entry, e.g. http://lobid.org/item/HT014148753:DE-Bm3-3:A%2010%20881/about -> http://lobid.org/organisation/DE-Bm3-3 doesn't exist.

@dr0i: What is the reason for this? Seemingly, there aren't any branches of the DE-Bm3 library (which could be a reason). See http://www.isb.ruhr-uni-bochum.de/bdr/zeiten.

[2014-10-13 07:58] #62 closed, assigned to acka47

[2014-10-14 14:09] acka47 opened #68 "Remove rdamediatype:1005 from morph"
Obviously, we reuse the two different medium types `rdacarriertype:1050` ([video carriers](http://rdvocab.info/termList/RDACarrierType/1050)) and `rdamediatype:1005` ([projected](http://rdvocab.info/termList/RDAMediaType/1005)) redundantly.

See:
[code]
Thus, we can dicard one of these. As a lot of resources typed with these are VHS tapes we shouldn't use "projected" and drop it. The respective li

[2014-10-16 07:49] dr0i opened #69 "Query malfunction"
http://lobid.org/resource?id=urn:nbn:de:101:1-201210094953 yields nothing. Using the index `lobid-resources-20141007-061557` it works.
- the index-config of both index' are the same (regarding to urn)
- data is there

Investigating.

[2014-10-16 08:12] acka47 opened #70 "Organisation resource with two geocoordinates in array"
http://lobid.org/organisation/DE-294-38/about somehow has two latitude/longitude information though in the Sigelverzeichnis is only one (see http://dispatch.opac.dnb.de/DB=1.2/FKT=8529/FRM=DE-294-38/IMPLAND=Y/LNG=DU/LRSET=1/SET=1/SID=b22763d3-10/SRT=LST_os/TTL=1/PRS=PP%7F/NXT).

[2014-10-16 08:21] acka47 opened #71 "Many Items missing in production system"
Example:

[code]

[2014-10-16 10:11] dr0i opened #72 "IDs indexed as lowercase cannot be found"
As mentioned in #69 e.g.  the URN field is used with the id_analyzer when indexed and thus be lowercased. While the URN in http://lobid.org/resource/HT016344563 is in part uppercase and querying this URN with the caputal N will fail.

What to do ? Remove the `id_analyzer` or pre-process all ID-querioes to lowercase?

[2014-10-16 11:31] dr0i opened #73 "Change urn in api example site"
Remove the urn `urn:nbn:de:101:1-201210094953` query example because the resource `HT017502667` doesn't exist anymore in the catalogue.

[2014-10-16 11:46] #43 closed, assigned to dr0i

[2014-10-16 13:31] #35 closed, assigned to dr0i

[2014-10-16 13:33] #73 closed, assigned to dr0i

[2014-10-16 13:38] #69 closed, assigned to dr0i

[2014-10-20 08:14] #71 closed, assigned to dr0i

[2014-10-22 14:08] acka47 opened #76 "Too many Schlagwortketten..."
...that are not part of the source data. See e.g. http://lobid.org/nwbib/BT000028733.

My guess is that somehow the alternate labels of the GND subjects that are part of the Schlagwortketten are pulled into the RDF.

(Edit @dr0i: see [background](https://wiki1.hbz-nrw.de/pages/viewpage.action?pageId=13238276#BeschreibungMABXML-Daten%28Format%2BInhalte%29-Realisierungf%C3%BCrFelderSchlagw%C3%B6rter

[2014-10-27 09:12] acka47 opened #77 "Add source (Aleph XML) tab in HTML view."
See https://github.com/lobid/lodmill/issues/478#issuecomment-58667420.

[2014-11-03 08:20] acka47 opened #78 "Improve provenance data"
The provenance data we created is currently out-of-date, see http://lobid.org/graph/ and http://lobid.org/dataset/. We should look into automatic updates and about improving the data, e.g.:
- Add links to Aleph XML source data.
- Add links to Metafacture transformation code.

Also, we must think about whether using the graph construct makes sense as we don't use a quad store anymore and thus don't

[2014-11-05 13:36] acka47 opened #79 "For journals, add hasPart links to articles"
There are currently no links from journals to the articles they contain, though the articles have isPartOf links to the journal.The relevant information is in MAB field 599.

Example:
- http://test.lobid.org/resource/HT016489402/about (article/part)
- http://test.lobid.org/resource/HT016457745/about (journal/superordinated resource)

[2014-11-05 13:43] acka47 opened #80 "Differiantiate between physical extent and pagination"
E.g. http://lobid.org/resource/HT017061730 has as extent (property http://iflastandards.info/ns/isbd/elements/P1053) both the information "31 cm" and "66 S. : zahlr. Ill.".

[2014-11-05 13:58] acka47 opened #81 "Improve transformation of fields 523 and 596"
Examples:
- "published volumes" in 523: http://lobid.org/resource?id=HT018138615&format=source
- publication frequency in 523: http://lobid.org/resource?id=HT016457745&format=source
- source/pages in 596: http://lobid.org/resource/HT016489402

[2014-11-10 10:23] fsteeg opened #82 "Missing subject chains"
Based on NWBib feedback mail, 2014-11-07, VA.

Missing subject chains resulting in missing hits, e.g.:

http://lobid.org/resource?id=BT000120805&format=full
http://lobid.org/resource?id=BT000120805&format=source

http://lobid.org/resource?id=BT000111451&format=full
http://lobid.org/resource?id=BT000111451&format=source

[2014-11-10 14:43] fsteeg opened #84 "Missing general `preferredName` for some GND entries"
Usually all GND entries have a general `preferredName` property in addition to the specialized `preferredNameForTheWhatever` property. These are missing for some entries, e.g.

http://api.lobid.org/subject?id=4023168-9&format=full
http://api.lobid.org/subject?id=4019947-2&format=full
http://api.lobid.org/subject?id=4007862-0&format=full

[2014-11-11 15:22] acka47 opened #85 "Missing fulltextOnline link"
Example: http://lobid.org/resource/HT014063180

[2014-11-17 09:00] fsteeg opened #88 "Add `location` parameter and polygon filter"
To support geo queries in NWBib.

See https://wiki1.hbz-nrw.de/x/BgCHAg

[2014-11-17 13:13] acka47 opened #90 "NWBib Notation 97 missing in lobid RDF"
http://lobid.org/resource?nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n97 only yields one result though there should 12203 (see for comparison http://193.30.112.134/F/?func=find-b&find_code=pnn&request=97).

[2014-11-17 16:50] #88 closed, assigned to fsteeg

[2014-11-18 14:55] dr0i opened #91 "Create statistics about nwbib spatial literals"
There are cataloging errors in the data. To improve the data a listlist with occurences of values residing in the nwbib fields "700 96/97/99" (spatial literals) should be produced. The entries will be checked by librarians and errors will be corrected.

[2014-11-19 13:29] #91 closed, assigned to acka47

[2014-11-21 13:45] #64 closed, assigned to acka47

[2014-11-21 13:47] #77 closed, assigned to fsteeg

[2014-11-24 08:10] #81 closed, assigned to dr0i

[2014-11-24 08:12] #76 closed, assigned to dr0i

[2014-11-24 08:12] #90 closed, assigned to dr0i

[2014-11-24 15:00] #80 closed, assigned to dr0i

[2014-11-25 13:14] jschnasse opened #96 "alphabetical ordering of results from /person /subject"

[2014-11-27 09:26] jschnasse opened #97 "new property for collections like edoweb, rpb , nwbib"
Currently dc:isPartOf is used to link resources to collections like edoweb, nwbib, and rpb. It is used as well to link to serials, periodicals, etc. - add the right term here. This makes it complicated to build a proper view that e.g. associates volume numbers to the correct parent resource. For edoweb and rpb I'd like to suggest to use a different predicate - perhaps something like http://d-nb.in

[2014-11-27 09:30] #97 closed, assigned to acka47

[2014-12-01 10:07] jschnasse opened #99 "Please create mapping for Mab 655e"
e.g.: http://lobid.org/resource/TT002234459/about

TT002234459 describes an archived web page. The url of the archived page is stored in MAB 655e which currently does not exist in the lobid data.

priority in edoweb: high

[2014-12-08 17:09] dr0i opened #101 "Automatically update test set"
Api tests for now rely on a manually updated test set. This test set is most of the time outdated. To solve this, the test set should be generated automatically to test against real, productive data.

[2014-12-10 08:37] acka47 opened #102 "Wrong transformation of 529 as isPartOf relation"
529 states the relation of a title to supplements, in the [MAB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mabTitelBibliographischeDaten2001.txt;jsessionid=1203C36A7214E21CE07618A2FCB0B829.prod-worker3?__blob=publicationFile) it says:

[code]

Thus, using hasPart would make more sense but doesn't seem quite right at all. Will look after the right property to use.

[2014-12-15 09:07] nichtich opened #103 "Wrong RDF Content-type"
RDF/Turtle and RDF/XML are returned as `text/plain`:
[code]

[code]

[2015-01-14 12:50] acka47 commented on #38
For now, we need a seperate property with preferred and alternative names to be queried by elasticsearch, see also – the redundant – issue #85. We will follow the approach outlined above in [lobid API 2.0](https://github.com/hbz/lobid/issues/1), though.

[2015-01-14 12:54] acka47 commented on #39
Currently, we need to have one property where every preferred and alternate label of all subjects are listed. That is why we – for now – should in fact use `dc:subject` with a list of all the labels as extracted from Aleph XML.

[2015-01-14 12:58] acka47 commented on #38
Which property to use? I think the way to go is by using `http://purl.org/dc/elements/1.1/contributor` with a list of all name strings.

[2015-01-14 13:11] acka47 commented on #38
We should use two different properties for contributors that are persons and contributors that are organization. Then we can easily provide a search for corporate bodies, see https://github.com/hbz/nwbib/issues/54.

Which property to use for corporate bodies? I suggest two options:
- Using the lobid vocab namespace maybe without even adding the property in the vocab: `lv:nameOfContributingCorporat

[2015-01-14 14:46] dr0i commented on #99
ping @jschnasse

[2015-01-14 15:30] dr0i commented on #99
Deployed even to production. @jschnasse have a look and rise some thumbs if it does what it should.

[2015-01-14 15:31] acka47 commented on #99
What's missing: Add `lv:webPageArchived` to the JSON-LD context. Will do.

[2015-01-14 15:45] jschnasse commented on #99
test import is running. looks good so far! Many thx.

[2015-01-15 11:08] jschnasse commented on #99
+1

[2015-01-15 13:20] dr0i opened #106 "format=short doesn't return expected value(s)"
Using `format=short` will return only _one_ value even if there are _multiple_ values (array).

This can be reproduced in `ApiTests.java` using the following test:

[code]

This query  results in HT000137563, where the first entry of the array

[code]

is stored in the String `Document.matchedField`. So the results for `format=short` is the lonely String `Chemie und zugeordnete Wissenschaften`. Th

[2015-01-16 19:15] fsteeg commented on #106
Can't reproduce this as a general issue. In practice your sample seems to work fine:
http://lobid.org/resource?subject=Chemistry&format=short

Seems to be specific to the test or the test data, not a general issue with the `format=short` param.

[2015-01-19 14:17] dr0i opened #107 "OutOfMemoryError: {Java heap space, GC}"
The crashes take place at play lobid api instance.
Got an error which forced a restart:

    2015-01-19 14:48:19,476 - [ERROR] [...]
    java.lang.OutOfMemoryError: Java heap space
        at java.util.Arrays.copyOf(Arrays.java:3326) ~[na:1.8.0_05]
        at java.lang.AbstractStringBuilder.expandCapacity(AbstractStringBuilder.java:137) ~[na:1.8.0_05]
        at java.lang.AbstractStringBuilder.ens

[2015-01-19 14:18] dr0i commented on #107
Restart was necessary to solve the issue.

[2015-01-20 10:31] dr0i commented on #107
Same issue again at 2015-01-20 10:51:41

[2015-01-20 13:42] acka47 commented on #70
Now problem in beta lobid-organisations, see http://beta.lobid.org/organisations/DE-294-38. Closing.

[2015-01-20 13:42] #70 closed

[2015-01-22 08:33] dr0i commented on #106
Hm, I guess the sheer size of the documents underlying the lobid API masks that behaviour. Since #104 the test data is taken from the live API - pull the master and try to retrace the issue.
I don't think this is pressing, though, just stumbled about it working on #104.

[2015-01-22 08:50] dr0i commented on #106
I think it's clearer when you look at [line 197 in Application class](https://github.com/hbz/lobid/blob/2a026688054624b9e9a4568b8f33cf459633383e/app/controllers/Application.java#L197): there is an iteration over documents, getting the string `matchedField` of each document. And this field is a plain string, only holding one value. While there are sometimes more than one values.

[2015-01-22 09:24] dr0i commented on #101
Deployed to production. Closing.

Note that as the data will change the tests may also have to be adopted. The tests are now not only functionality tests of programs but also tests of the (online) data. If we discover the expectable growth in the need to adapt the tests (when the data changes) we might want to make build the test data in a more controllable way, say once a month, instead of automa

[2015-01-22 09:24] #101 closed

[2015-01-23 16:33] dr0i commented on #84
Interesting. We don't change any data in gnd so this should be a thing on provider side. Also interesting for [lobid/lodmill#506](https://github.com/lobid/lodmill/issues/506#issuecomment-68706192).

[2015-01-23 16:38] dr0i commented on #84
... we don't change the data besides some inferencing, see lobid/lodmill#354. Maybe there's the problem.

[2015-01-26 09:31] acka47 opened #108 "Too many MAB fields mapped to otherTitleInformation"
Example: http://lobid.org/nwbib/CT003012479

E.g. fields 361, 370a, 805b probably should be mapped to other properties.

[2015-01-26 09:32] acka47 commented on #108
Regexps from [current morph](https://github.com/lobid/lodmill/blob/10654588eb53225c8e274380dd27eba843b38a44/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml):
- `33[13][-ab][-1].a` ([l. 510](https://github.com/lobid/lodmill/blob/10654588eb53225c8e274380dd27eba843b38a44/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml#L510)
- `335[-abcd][-12].a|370[a][-12].a` ([l. 523](https://github.co

[2015-01-26 14:55] dr0i commented on #30
Note: to don't possibly break a running transformation *and* because of beeing immediately executed the tests are done on another server not connected with the production hadoop cluster. The test hadoop cluster and everything that's needed for testing resides on `gaia`.

[2015-01-28 13:34] acka47 commented on #84
Obviously, this is no problem in the GND, e.g. `rapper -o turtle http://d-nb.info/gnd/4023168-9` delivers:

[code]

[2015-01-29 10:34] dr0i commented on #85
@acka47 : the problem seems to be gone (don't know what made it gone, though). Following the resource you provided there is only an "Online" mentioned in subject chains.

[2015-01-29 11:01] acka47 commented on #85
Made the issue title clearer.

Regarding the [first example](http://lobid.org/resource/HT014063180/about), the link provided in the [source](http://lobid.org/resource?id=HT014063180&format=source) in field 655 can't be found in the RDF.

The [second example]() is a special case where'actually no link to the fulltext exists in the source as it was deleted in 2013. (See the note in field 573 of the

[2015-02-04 09:44] dr0i commented on #38
If I understand correctly, we won't build the graph structure you mentionend in https://github.com/hbz/lobid/issues/38#issuecomment-58857738 . That woul be good because we can't build that structure directly by transforming the catalog - that would be possible only with API 2.0.
For the properties directly clinging to the resource's subject:
fine with me. Would like to use `lv:nameOfContributingCo

[2015-02-04 11:03] dr0i commented on #102
Deployed to staging. Note:
1. test set is small and none of the above links work. Try: http://test.lobid.org/resource/HT000009600
2. If you follow the supplemental recoursively you will find only basic data. That is because the original resources are not part of the test set. See e.g. http://test.lobid.org/resource/HT006886479 . If you like, look up the productive data http://lobid.org/resource/HT

[2015-02-04 14:08] dr0i commented on #39
Deployed to staging the small test set (links in this ticket won't work with).

[2015-02-04 14:11] dr0i commented on #39
@acka47 you began the ticket with the claim:

But how could they? The information isn't in the data. See e.g. http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DHT018249773 which has `Klimawandel` in it's data but not `Klimaveränderung`.

[2015-02-04 14:25] dr0i commented on #39
With the mapping of the subjects prefLabel to `dc:subject` I think we could remove the `"@graph.http://www.w3.org/2004/02/skos/core#prefLabel.@value"` in the subject query, or not?

[2015-02-05 07:42] jschnasse opened #109 "MAB 710 requested"
Are there plans to introduce transformation for MAB#710?

Example:
http://lobid.org/resource/HT018433961/about?format=source
vs.
http://lobid.org/resource/HT018433961

http://lobid.org/resource/HT018434138/about?format=source
vs.
http://lobid.org/resource/HT018434138

[2015-02-09 09:47] acka47 commented on #38
@dr0i I have nothing to add or correct regarding your previous comment. Looking forward to the test data.

[2015-02-09 14:42] acka47 opened #113 "Refine HTTP status code responses"
Brought up by @jschnasse. Currently lobid always delivers a 303 followed by a 200, even if no actual resource with this URI exists.

Example:

[code]

[2015-02-10 14:36] acka47 opened #114 "One organisation is now two"
See e.g. http://lobid.org/organisation/DE-9/about or http://lobid.org/organisation/DE-1a/about or `curl -L -H "Accept: text/turtle"  http://lobid.org/organisation/DE-3` which's response looks like (snippet):
[code]

[2015-02-11 09:47] dr0i commented on #114
There were two elasticsearchers aliases with the same name. This is an issue regarding automatic alias creation, see also #643.
I fixed the issue by manually deleting one alias. However, the issue must also be fixed in the code, so I leave this issue open.

[2015-02-11 09:55] acka47 opened #115 "Add geo-based item search to lobid API"
Similar to @ahagenbruch's implementation (example https://api-test.ub.rub.de/exists/id/HT014465943?type=hbzid) that his [lobid id check](https://static.ub.rub.de/components/elements/lobid-idcheck/) is run on, lobid could offer an item search.

The query would look something like this:

`http://lobid.org/item?id=HT014465943&geo=51.44510,7.26055`

giving similar results like https://api-test.ub.rub.

[2015-02-11 10:02] acka47 commented on #115
Currently, only a `q` item query delivers results for a hbz id, e.g. http://lobid.org/item?q=HT014465943. It might suffice to just add a `geo` parameter to this.

Another question: Should we only allow points or also polygons?
We could
- deliver a list sorted by nearest places first if a geo point is input and
- deliver a list of locations inside a polygon if a polygon is input.

What do othrs thi

[2015-02-11 10:58] acka47 commented on #115
@ahagenbruch suggests via chat to have two paramaters. One `geo` parameter with lat/long that delivers a list sorted by proximity plus an additional `region` or `polygon` parameter that filters the list and uses the `geo` point to calculate and sort by proximity.

[2015-02-11 16:08] dr0i commented on #102
@acka47 now again ready to be reviewed

[2015-02-11 16:41] dr0i commented on #44
Deployed to staging, see e.g. http://test.lobid.org/resource?id=00-283-07x,  http://test.lobid.org/resource?id=00-28307x, http://test.lobid.org/resource?id=0028307x. Sugar no more unhealthy :)

[2015-02-11 16:46] dr0i commented on #109
Deployed to staging, see e.g. http://lobid.org/resource/HT001898812 .

[2015-02-11 16:50] dr0i commented on #39
Deployed to staging, see e.g. http://lobid.org/resource/HT001898812 .
Hard to test. You may want to wait for the complete test data indexing to check the resource-links you already provided, or you may want to have a look at the lonley HT001898812.

[2015-02-19 13:19] dr0i opened #116 "Elasticsearch update to > 1.4.2"
This issue is vital to resolve #1!

Reported by @ahagenbruch: Because of security isssues it is advised to update ES , see .http://www.elasticsearch.com/blog/elasticsearch-1-4-3-1-3-8-released/ .

This update is not of high priority because we encapsulate ES through our API 1.0 so that not harm can be done (in contrast to API 2.0 (#1) where we allow to use ES DSL directly).   For the instances whi

[2015-02-20 09:27] jschnasse opened #117 "missing HTs"
http://lobid.org/resource/HT016371804 , http://okeanos-www.hbz-nrw.de/F/?func=find-c&ccl_term=IDN%3DHT016371804

http://lobid.org/resource/HT018449929 , http://okeanos-www.hbz-nrw.de/F/?func=find-c&ccl_term=IDN%3DHT018449929

[2015-02-20 12:08] acka47 commented on #102
+1

[2015-02-20 13:06] acka47 commented on #44
works with and without hyphens but spaces aren't supported, e.g. http://test.lobid.org/resource?id=00%20283%2007x

[2015-02-20 13:10] acka47 opened #118 "Remove frbr:Manifestation typing"
No lobid resource should be explicitely typed as `frbr:Manifestation`. Currently all bibliographic resources – except items – are typed as such.

[2015-02-20 13:16] acka47 commented on #39
We should retain it as it is useful for presentation purposes (people will need to know which label to choose for presentation).

[2015-02-20 21:07] fsteeg commented on #116
Just to clarify about the API 2.0 mention: we do not plan to allow direct usage of the full ES DSL (like full JSON queries in ES syntax or scripting), but direct usage of the [ES query string syntax](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax) for field-specific queries. This should not make us more vulnerable to this

[2015-02-21 06:29] ahagenbruch commented on #116
But would it then still be possible to use aggregations? If not, you're making the API impractical for the use in a catalog frontend...

[2015-02-23 10:26] dr0i commented on #117
1. http://lobid.org/resource/HT016371804  does now (again) exist.  That's because the resource was updated not long ago (20150221) and was than ingested regularly. Your are right that it 'wasn't there in the first place, and I am still investigating this.
2. http://lobid.org/resource/HT018449929 still missing. Investigating.

[2015-02-25 09:20] dr0i commented on #107
Again at 2015-05-20 09:43:55:

    2015-02-25 09:43:55,351 - [ERROR] - from akka.actor.ActorSystemImpl in play-akka.actor
.default-dispatcher-38109·
    Uncaught error from thread [play-akka.actor.default-dispatcher-38110] shutting down JV
    M since 'akka.jvm-exit-on-fatal-error' is enabled
    java.lang.OutOfMemoryError: GC overhead limit exceeded

[2015-02-25 16:48] dr0i commented on #109
@jschnasse you also may want to have a look.

[2015-02-25 17:08] dr0i commented on #38
Deployed to staging, see e.g. http://test.lobid.org/resource?author=Goethe,%20Johann%20Wolfgang%20von vs. http://test.lobid.org/resource?author=H%C3%B6te,%20Iohann%20Volfqanq . (The discrepancy seems to be ok, since one resource is about Goethe (http://lobid.org/resource/HT008357533) and thus he is not a contributor. While, I would say,  it's not really consitent that Goethe is found when querying

[2015-02-25 17:16] dr0i commented on #38
@todo adjust json ld context

[2015-02-26 08:51] acka47 commented on #39
I added some test resources to the testset that should be found with the "Ebola-Fieber" and the"Wirbeltiere" query e.g. HT002412047 and HT009221259. They cannot be found yet, see
- http://lobid.org/resource?subject=ebola-fieber
- http://lobid.org/resource?subject=Wirbeltiere

(The "Klimawechsel" example is a bad one as the single result actually doesn't have a GND subject with several labels. Ther

[2015-02-26 09:00] acka47 commented on #109
It's in the data but the literals are not splitted correctly. The cut should be made after a semicolon not after a slash.

E.g. instead

`"1400-1468; Guttenberg, Johann", "1400-1468; Gensfleisch von Sorgenloch, Johann", ...`

it should look like this:

`Guttenberg, Johann / 1400-1468" "Gensfleisch von Sorgenloch, Johann / 1400-1468"`

[2015-02-26 10:19] dr0i opened #120 "Cache problem? Resource not shown."
This is a report about a bug which is not reproducible. It shows up from time to time:

Data reside in ES but the API doesn't find it. This is cached for an hour and the resource is not found for an hour. After the hour, the resource shows up.
The logs don't help, neither elasticsearch.log nor play.log show up something useful. TODO:changing  log level.
It appears sometimes in the context of updat

[2015-02-26 10:22] dr0i commented on #38
Done adjusting context. Please test.

[2015-02-26 10:43] acka47 commented on #38
The `preferredName` shouldn't be searched anymore with a person query. As far as I can see, there is only one possibility to move forward, involwing these three steps:

- [ ] Add the preferred label (Ansetzungsform) to `dc:contributor` field. (It can be found in field 100 etc. along with the GND ID.)
- [ ] Adjust the `author` query in the lobid API by only querying the `dc:contributor` plus the `s

[2015-02-26 10:47] acka47 commented on #38
(BTW, the name `author` for this API query is at least misleading and should rather be `person` or else. As this was misleading from the beginning, we will stick to it and correct it in  API 2.0.)

[2015-02-26 11:00] acka47 commented on #38
- [ ] For allowing querying by GND ID we must also add the following fields to the API query:
- creator
- editor
- contributor
- actor
- afterwordBy
- introductionBy
- screenwriter
- collaborator
- composer
- conductor
- cinematographer
- collector
- cartographer
- director
- dedicatee
- engraver
- illustrator
- interviewee
- interviewer
- musician
- photographer
- performer
- producer
- singer
-

[2015-02-26 11:13] acka47 commented on #39
The next two steps here are:
- [ ] Also add preferred subject label (Ansetzungsform) to `dc:subject`.
- [ ] Only query `dct:subject`, `dc:subject`, `subjectChain`

[2015-02-26 11:28] acka47 commented on #38
We decided to call the property for labels of contributing corporate body/bodies: `lv:contributingCorporateBodyLabel`.

[2015-02-26 11:28] acka47 opened #121 "Add corporateBody parameter to /resource API endpoint"
To implement a "Körperschaftssuche" in NWBib (see https://github.com/hbz/nwbib/issues/54) we will implement a separate API parameter `corporateBody`. It should query the following fields:
- `contributingCorporateBodyLabel`
- And to enable search by GND ID: `dct:creator` and `dct:contributor` (This will also allow search by GND ID for persons via this parameter which is ok for now.)

[2015-02-26 17:05] dr0i commented on #120
This bug feels like the "old cluster split problem", see hbz/lobid#69.
Only, using *curl every query works*, and using the *API sometimes it works, sometimes not*.
*Weired*:
Deploying the API locally and run it: query *fails*.
Deploying the API locally and run it and debug it using eclipse: query *succcess*.

Intersting, because it's the same code and the same config!

[2015-03-03 10:05] dr0i commented on #38
Deployed to staging.
The resources mentioned in https://github.com/hbz/lobid/issues/38#issuecomment-76004163 now reveal the same result.

[2015-03-03 10:42] acka47 commented on #38
+1

[2015-03-03 13:40] acka47 commented on #39
Here are two test cases that work with the current test set:

-  http://test.lobid.org/resource?subject=ebola-fieber http://test.lobid.org/resource?subject=Maridifieber (Maybe the label including a hyphen makes different result sets...)
- http://test.lobid.org/resource?subject=Wirbeltiere, http://test.lobid.org/resource?subject=Vertebrata

[2015-03-03 15:59] acka47 opened #122 "Add subject headings without GND links to RDF"
See e.g. http://lobid.org/resource?id=BT000040377&format=source (to be added to testset). It contains the following data:

[code]

You can't find "Vogelschutz" or "Rheine" in http://lobid.org/resource/BT000040377, though. Neither in `dc:subject` nor in `lv:subjectChain`.

Other examples:
- http://lobid.org/resource?id=BT000041074&format=source
- http://lobid.org/resource?id=BT000040274&format=sour

[2015-03-04 09:35] dr0i commented on #120
Just got a  anorther clue that it's a cluster problem:
http://lobid.org/resource?subject=4414195-6 normally should result in 7 hits.
Now I got one time 4 results, seconds later same query got 3 results. Putting these results together would be exactly the expected resources. So I must conclude that the two nodes we have are *not in sync* .
The cause could be the restart done two days ago:
[2015-02-

[2015-03-04 09:37] dr0i commented on #120
After weekend's reindexing the behaviour is back to normal. That's a further clue that we have had a split brain.
Closing this issue.

[2015-03-04 09:37] #120 closed

[2015-03-04 12:05] acka47 commented on #39
It would be great to deploy this together with #122. ;-)

[2015-03-04 13:30] acka47 commented on #122
As this data is shown in the Aleph OPAC with label "1. Schlagwortkette", "2. Schlagwortkette" etc. (see e.g. [here](http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DBT000040377) or [here(http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DBT000041074)) we should add this to `lv:subjectChain` in lobid.

[2015-03-09 14:47] acka47 opened #123 "Get rid of api.lobid.org and staging.api.lobid.org"
As far as I can see are redundant to `lobid.org` resp. `test.lobid.org`. Configuring the Apache server this redundancy made things more complicated. Also, these redundant URLs add confusion for lobid users.

@dr0i and I propose to deprecate  `api.lobid.org` and `staging.api.lobid.org` starting with a 301 to `lobid.org` resp. `test.lobid.org`. (Of course we will replace these URLs in the lobid, lod

[2015-03-09 19:54] fsteeg commented on #123
Sounds good. I'd suggest to leave the redirect (at least) until we publish a 2.0 API.

[2015-03-10 08:48] dr0i commented on #123
Done. Configured `api` to be elevated one domain level higher using redirection (http status code 301).
So deprecated URIs will work for now all right, e.g. `http://api.lobid.org/resource?id=HT002189125`.
TBD: Will clean all code and examples using the `api` subdomain.

[2015-03-10 10:53] dr0i commented on #123
Pinging also @jschnasse @literarymachine @ahagenbruch for information (sorry folks, should have ping you *before* configuring that redirect (because it _might_ break applications)).

[2015-03-10 11:03] ahagenbruch commented on #123
Thanks for the heads-up. Everything still working smoothly here...

[2015-03-12 10:27] acka47 commented on #123
Works. Closing.

[2015-03-12 10:27] #123 closed

[2015-03-12 13:31] acka47 opened #125 "Statistics and privacy"
The stats
- [x] shouldn't be readable by everyone and a
- [ ] a privacy policy should be added to the footer reading as follows:

[2015-03-12 13:41] dr0i commented on #125
The pages aren't accessible from outside the hbz network:

$ wget 'http://stats.lobid.org'
--2015-03-12 15:44:25--  http://stats.lobid.org/
Auflösen des Hostnamen »stats.lobid.org (stats.lobid.org)«... 193.30.112.187
Verbindungsaufbau zu stats.lobid.org (stats.lobid.org)|193.30.112.187|:80... verbunden.
HTTP-Anforderung gesendet, warte auf Antwort... 403 Forbidden
2015-03-12 15:44:26 FEHLER 403: F

[2015-03-12 14:42] acka47 commented on #1
We should consider switching to https with API 2.0.

[2015-03-12 16:16] dr0i commented on #122
This issue is already resolved by #39 , see https://github.com/lobid/lodmill/pull/647/files#diff-1b113d0a603f2694c6ff079a3fab3ebfR954.

Test it: http://test.lobid.org/resource?id=BT000040377 .

[2015-03-12 17:08] dr0i commented on #39
(I don't understand why "Maridifieber" could be ever found in a former test set, as stated in https://github.com/hbz/lobid/issues/39#issuecomment-76946414)
 However, with https://github.com/lobid/lodmill/commit/75ec5e1c448bae4105dd7e329e92b0f200ac8886 the iteratable fields are taken into account which will solve the "Maridi" problem.
You can also have a look in the small test data set (look in the

[2015-03-13 10:22] acka47 commented on #122
Nice. But I think our customers will want the information displayed in NWBib as "Schlagwortkette" so that I think we'll have to move it to `lv:subjectChain`.

[2015-03-13 10:34] acka47 commented on #39
That's a lot of points in one comment. I respond in two seperate comments.

I [added](https://github.com/lobid/lodmill/commit/083cf79d5a8acb20f00581b97e40698f95735ba9) HT009221259 to the test set [whose source](http://lobid.org/resource?id=HT009221259&format=source) contains "Maridifieber" as alternate label of GND entity http://d-nb.info/gnd/4370218-1 in field 952:

[code]

Great.

As said above,

[2015-03-13 10:39] acka47 commented on #39
I am ready to have a look but don't really understand what the question is. An example would help.

[2015-03-13 11:32] akuckartz commented on #39
Are Triple Pattern Fragments (http://www.hydra-cg.com/spec/latest/triple-pattern-fragments/) an alternative or possible implementation approach?

[2015-03-13 12:00] acka47 commented on #38
We have to find out what the reason is for this discrepancy in the results:
- Querying for preferred label (`curl "http://test.lobid.org/resource?author=Goethe,%20Johann%20Wolfgang%20von"`):  21373 results
- Querying for alternate label (`curl "http://test.lobid.org/resource?author=Gede, Yuehan Wofugang"`): 19949

This discrepancy seems ok as there probably are a lot of titles with "Johann Wolfgan

[2015-03-13 12:01] acka47 commented on #38
Apart from the problem pointed out in the last comment, this looks good.

[2015-03-13 14:38] acka47 commented on #39
As a general rule. Follow the pattern in the DNB catalog for putting together subject headings, see e.g. http://d-nb.info/gnd/4024116-6 and  http://d-nb.info/gnd/4024116-6. It looks like they do it like this:

- subfield h: parenthesis `()`
- subfield b: period `.`
- subfield x: slash `/`

As this data is only used for search and not for indexing it doesn't matter that much, anyway…

[2015-03-13 15:38] dr0i opened #126 "Serving XML with one root element"
E.g. `curl -L --header "Accept: application/rdf+xml" http://api.lobid.org/resource?id=HT002189125` results in a document having two root elements. A file with many Xml root nodes is not well-formed Xml. The two nodes should be contained under one root element.
This was reported Werner Greßhoff .

[2015-03-16 09:07] dr0i commented on #102
@acka47 have a look at the json context - is `hasSupplement` and `isSupplementOf` ok ?

[2015-03-16 09:58] dr0i commented on #39
re "Testsets": there are at least 2 so called "testsets":

1. the tests used automatically when building and testing the repo (https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/test/resources/hbz01XmlClobs.tar.bz2), consisting of ~ 30 documents
2. the "smallTest" normally used when deploying and indexing, consisting of `1.` and many more , about ~ 30k documents

It would be great if you

[2015-03-16 10:16] acka47 commented on #102
See my comment at the commit: https://github.com/hbz/lobid/commit/357cb90227fe66515e3606baf487b4e6fc78e2e3#commitcomment-10210412

[2015-03-16 10:20] dr0i commented on #102
Fixed. Pls have a look again.

[2015-03-16 11:14] acka47 commented on #102
+1

[2015-03-16 11:17] acka47 commented on #102
Merged. Closing.

[2015-03-16 11:17] #102 closed

[2015-03-16 12:54] acka47 commented on #38
Please deploy on production.

[2015-03-16 13:01] acka47 opened #128 "Wrong result count information"
The lobid HTML currently gives wrong result count (47 results) for this query: http://lobid.org/resource?subject=118540238

![lobid-html-bug](https://cloud.githubusercontent.com/assets/160292/6666437/b0110d0e-cbe4-11e4-9ca3-316f4e6e2c59.png)

When I do `curl "http://lobid.org/resource?subject=118540238"` I get 4852 results though. Also I can do paging (http://lobid.org/resource?subject=118540238&f

[2015-03-16 13:28] dr0i commented on #38
Deployed to production, closing.

[2015-03-16 13:28] #38 closed

[2015-03-16 13:45] acka47 opened #129 "Remove statementOfResponsibility from author search"
The field `statementOfResponsibility` shouldn't be searched in an author query.

[2015-03-16 14:23] dr0i commented on #39
Took the subfields `[acdefpmogkrstuz]` ( see https://wiki1.hbz-nrw.de/display/VDBE/GND-2+-+Neue+Unterfeldstruktur+in+BIB ) into account and combined them separately with your provision of `[hbx]`.

[2015-03-16 14:38] acka47 commented on #84
I had a look at some examples. Obviously this doesn't have anything to do with the entities' type. We hae CorporateBody (http://lobid.org/subject?id=2085022-0, http://lobid.org/subject?id=2153289-8, http://lobid.org/subject?id=2164163-8, http://lobid.org/subject?id=16070317-7), TerritorialCorporateBodyOrAdministrativeUnit  (http://lobid.org/subject?id=4005044-0, http://lobid.org/subject?id=4005406

[2015-03-16 14:43] acka47 commented on #84
I will look next Monday whether these are always the same entities affected by this or whether the entities affected vary after each indexing.

[2015-03-17 15:05] jschnasse opened #130 "Umlaut issue in title HT014720390"
http://lobid.org/resource/HT014720390

[2015-03-17 15:23] acka47 commented on #130
This isn't restricted to this one title, see e.g. http://lobid.org/resource?name=f%C3%BCr.

[2015-03-17 18:55] jschnasse opened #131 "Lobid subjects are pointing to test.lobid.org"
e.g. http://lobid.org/resource/HT018258716/about

[2015-03-19 08:29] jschnasse opened #132 "Fix Readme"
mvn clean install does not work
mvn clean install --settings settings.xml does not work

does not look like a maven project at all.

[2015-03-19 08:30] #132 closed

[2015-03-19 13:07] jschnasse opened #133 "Missing GND data, labels etc."
eg. http://lobid.org/resource/HT018216462/about. In fact the labels are in the data, but on a different place. I found the newly added predicate http://purl.org/lobid/lv#nameOfContributingCorporateBody.
Is this supposed to replace the old style inclusion of GND data, like in http://lobid.org/resource/%20HT017297579/about? I'd like to suggest to support both styles until lobid 2.0.

[2015-03-19 13:14] acka47 commented on #133
No, it isn't as one needs the `preferedName` for presentation.

That's what we intended to do but obviously it didn't work as planned (and I didn't notice missing labels revieweing the changes.) See the relevant pull request at https://github.com/lobid/lodmill/pull/646.

[2015-03-19 14:29] acka47 commented on #133
After a talk with @jschnasse this looks like a duplicate of #84 84 to me.

Note that some entries referencing the GND entity http://d-nb.info/gnd/36467-8 include the GND data (e.g. http://lobid.org/resource/%20HT017297579/about) while others don't (e.g. http://lobid.org/resource/HT018216462/about). So this hasn't anything to do with the GND entities referenced. As said in https://github.com/hbz/lo

[2015-03-19 14:56] acka47 commented on #130
Solved. Closing. For the sake of complete documentation on here I will add three emails by @jschnasse's (in German) in the comments below.

[2015-03-19 14:57] acka47 commented on #130
On 19.03.2015 10:32, Jan Schnasse wrote:

[2015-03-19 14:57] acka47 commented on #130
On 19.03.2015 11:49, Jan Schnasse wrote:

[2015-03-19 14:58] acka47 commented on #130
On 19.03.2015 15:15, Jan Schnasse wrote:>
Hallo Ihr,

[2015-03-19 14:59] #130 closed

[2015-03-20 10:34] acka47 commented on #108
MAB field `361       BEIGEFUEGTE WERKE` shouldn't be added to `otherTitleInformation`. Will have to look where else to put it, though.

[2015-03-20 10:36] acka47 commented on #108
And we shouldn't show the contents of `370       WEITERE SACHTITEL` in NWBib which means that we need a separate property for this.

[2015-03-20 11:56] acka47 commented on #108
Here is another example edoweb folks got feedback on: http://lobid.org/resource/HT017379873/about. The problem here is that 370a (`370       WEITERE SACHTITEL`) is mapped to `otherTitleInformation`. I suggest just removing it from the morph.

[2015-03-20 12:16] acka47 commented on #108
We shoulkd probably also kick out the entire 36*s off `otherTitleInformation`:

[code]

[2015-03-20 12:25] acka47 commented on #108
MAB doc on 35*s:
[code]
As we don't add info from the 34*s on "Parallelsachtitel" to `otherTitleInformation` we neither should add 35*s.

What is a "Parallelsachtitel" anyway? [RAK-WB](http://files.d-nb.de/pdf/rak_wb_netz.pdf), §28, 4. reads:

Paralleltitel bezeichnet.

[2015-03-20 12:27] acka47 commented on #108
I would also leave out the 8**s. MAB doc:

[code]

[2015-03-20 13:05] acka47 opened #134 "Wrong title information"
Reported by @jschnasse via email.

http://lobid.org/resource/HT017004654 only has title information data from MAB field 333 in the RDF but nothing from 331 which should be prefered.

MAB field 310 (`HAUPTSACHTITEL IN ANSETZUNGSFORM`) is missing in the [source data](http://lobid.org/resource?id=HT017004654&format=source), we only have 331 (`HAUPTSACHTITEL IN VORLAGEFORM ODER MISCHFORM`) and 333 (`Z

[2015-03-20 13:06] acka47 commented on #134
Probably the first (331) is overwritten by the second (333) when both occur. What do you think, @dr0i?

[2015-03-23 10:10] dr0i commented on #107
Again a memory problem at 2015-03-17 13:47:41,314

    - [ERROR] - from akka.actor.ActorSystemImpl in play-akka.actor.default-dispatcher-1156
    Uncaught error from thread [play-akka.actor.default-dispatcher-1132] shutting down JVM since   'akka.jvm-exit-on-fatal-error' is enabled
    java.lang.OutOfMemoryError: GC overhead limit exceeded

[2015-03-23 10:47] acka47 commented on #84
@dr0i will have to initiate the re-indexing of GND entities including inferencing of `preferedName` information. Than we will have another look.

[2015-03-23 10:48] acka47 commented on #84
BTW, this was also reported by NWBib staff, see https://wiki1.hbz-nrw.de/x/CoCDAw, 5.c.

[2015-03-24 09:40] philboeselager commented on #107
+1: 2015-03-24 09:33:46,808
+1: 2015-03-24 10:10:20,241

[2015-03-24 09:42] philboeselager commented on #107
2015-03-24 10:10:20,241 - [ERROR] - from akka.actor.ActorSystemImpl in play-akka.actor.default-dispatcher-9
Uncaught error from thread [play-akka.actor.default-dispatcher-3] shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled
java.lang.OutOfMemoryError: GC overhead limit exceeded
	at java.util.Arrays.copyOf(Arrays.java:3326) ~[na:1.8.0_05]
	at java.lang.AbstractStringBuilder.expandCa

[2015-03-24 10:10] philboeselager commented on #107
There was a lot of log on the Play Console after having restarted between the last two crashes, coming at least in parts from nwbib.

[2015-03-26 08:56] acka47 commented on #99
We obiously overshot the mark here by typing all Edoweb resources `lv:ArchivedWebPage`. Only resources with a URL in 655e should be typed as such as reported by @jschnasse . That's why I re-opened this issue.

[2015-03-26 09:10] acka47 commented on #134
More examples from the edoweb colleagues: HT016175600, HT015225938, HT014169524, HT018456404, HT017188373, HT017700492, HT017004654, HT017004696

[2015-03-27 10:21] acka47 commented on #108
Following the comments above, here is a to do list for @dr0i. Please remove the following MAB fields from inclusion in `otherTitleInformation`.

- [ ] 361
- [ ] 370
- [ ] 36*s
- [ ] 35*s
- [ ] 8*s

[2015-03-30 14:03] dr0i commented on #39
Deployed to staging. For "Unterfeldstrukturen" see e.g. http://test.lobid.org/resource?id=HT013077595.

[2015-03-30 15:02] dr0i commented on #134
No resource you provided is already part of the test data. But try http://test.lobid.org/resource/HT003160768 , it reflects the same problem.

[2015-03-30 15:03] dr0i commented on #134
Deployed to staging.

[2015-03-30 15:21] acka47 commented on #134
+1

[2015-03-30 15:34] acka47 commented on #39
Looks good. I fund one minor thing, though. The JSON-LD contains this:
[code]

There seems to be a problem with the conversion of subfield b here. It shoudl rather read
`"subjectLabel" : [ "Pressestelle", "Coesfeld", ...]`.

+1 for deploying as it doesn't affect searchability.

[2015-03-31 08:06] dr0i commented on #99
Here I need an example resource. HT014997977, HT018433961 and TT002234459 are in the samllest test set and they _are_ proper ArchivedWebPages.

[2015-03-31 08:14] acka47 commented on #99
Examples: [HT018585406](http://lobid.org/resource/HT018585406), [HT018585452](http://lobid.org/resource/HT018585406), [HT018585477](http://lobid.org/resource/HT018585477).

See also this JIRA issue: https://jira.hbz-nrw.de/browse/EDOZWO-480.

[2015-03-31 09:51] dr0i commented on #99
So even if 652 states that it's about an "archivierte online resource" it's not (necessarily).
(A librarian's rose can be anything.)

[2015-03-31 09:51] dr0i commented on #99
@acka47 you may be satisfied with having a look at the [ntriples in the outcome of the new transformation in the smallest test set](https://github.com/lobid/lodmill/blob/issue-lobid-99-missingArchivePageUrl/lodmill-rd/src/test/resources/hbz01.nt) (spares me the deploying to staging)  . Look at `HT018585406`. Now this resource is no more of type `lv:ArchivedWebPage`.

[2015-03-31 11:23] acka47 commented on #39
I just saw that `"Coesfeld. Pressestelle"` is in the data. Obviously, these seem to be added concatenated with a period inbetween and as seperate literals.

[2015-03-31 14:07] acka47 commented on #99
+1

[2015-03-31 14:15] acka47 commented on #84
@dr0i told me that updated GND data is fully re-indexed once a week. I compared the resources with missing labels in NWBib to thise from March 16 and both sets of GND resources with missing labels was identical. This has to be a systematic error, then.

[2015-03-31 14:18] acka47 commented on #84
As I haven't said it clearly yet: The problem must lie at the inferencing part. Shall we re-open lobid/lodmill#354?

[2015-04-01 08:17] dr0i commented on #84
I cannot find `preferredName` in e.g. `rapper -o turtle http://d-nb.info/gnd/4023168-9`. So this is a provider issue? Were they to be expected to deliver the  `preferredName` at all or is this an inferencing task?

[2015-04-01 08:31] acka47 commented on #84
No.

No , they weren't, we do this with inferencing. As a `preferredNameForThePlaceOrGeographicName` exists, `preferedName` should actually be inferenced, but it isn't.

As I said in https://github.com/hbz/lobid/issues/84#issuecomment-81704584, this doesn't seem to have anything to do with the specific type of an entity but it does affect the same resources with every new inferencing/indexing and

[2015-04-01 13:33] dr0i commented on #122
How to concatenate the subjects? They are in the same subfield `a` - should they be concatenated with just a space between these entries, or using a comma or ..?

[2015-04-01 14:40] acka47 commented on #122
To be consistent, you should do it the same way as current subject headings are generated: using space-pipe-space (` | `) between each part. See e.g. http://lobid.org/resource/HT018473848/about.

[2015-04-02 08:00] dr0i commented on #125
ticket refers to hbz/nwbib#91.

[2015-04-02 08:06] dr0i opened #135 "Automatically create monthly web statistics"
Statistics generated via hbz/nwbib#91 should be provided monthly.

[2015-04-02 13:14] dr0i commented on #39
There are more than only the three subfields mentioned in https://github.com/hbz/lobid/issues/39#issuecomment-79000458. This is reflected in the [last commit](https://github.com/lobid/lodmill/commit/3c53e8fb898ab1e6156ae124450cbe577df7ac14).

[2015-04-08 13:25] dr0i opened #136 "Simplify json results: provide always the same data type for fields"
Reported by Werner Greßhoff:
Some elements are sometimes delivered as single values, sometimes as arrays. Thus, working on that data, each time such a field is parsed it is necessary to check if it's a single value or an array. Much easier would be to _always have one consistent data type_ ( @dr0i: This would be an array, then). People behind entityfacts are doing it in this customer friendly mann

[2015-04-09 10:00] acka47 opened #137 "Add predecessors and successors (formerly: Include MAB fields 530 to 533 in RDF)"
As asked for by NWBib customers, see https://wiki1.hbz-nrw.de/x/FoDgAw -> Funktionsvergleich "Einzeltrefferanzeige", 2.1.
From the [MAB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mabTitelBibliographischeDaten2001.txt?__blob=publicationFile):

[code]

Links have to be included into NWBib after implementation.

[2015-04-14 11:54] acka47 commented on #99
@jschnasse just let me know that we will have to inform @literarymachine as soon as this is deployed on production.

[2015-04-14 11:56] literarymachine commented on #99
Thanks! Team lunch communication. Better than any ticketing system.

[2015-04-14 12:04] acka47 commented on #99
In this case, @jschnasse used the other ticketing system (JIRA) to communicate this. Lunch was good and very sunny, though.

[2015-04-14 13:26] dr0i opened #138 "GND subject name doesn't favour exact matches"
Querying http://lobid.org/subject?name=verkehr the first hits are _not_ docs with exact matches but word compunds. The cause is the usage of `ngram_analyzer` in the  index profile to enable auto suggestion. However, a `subject name` query should result in only `exact` matches or, maybe even nicer, serving also word compunds but with _favouring_ the exact match.

[2015-04-14 16:03] dr0i commented on #138
Now, while with the changes in the queries are somewhat better (e.g. http://lobid.org/subject?name=verkehr ) , they are not perfect (e.g. http://lobid.org/subject?name=stadt).
Seems the only safe way do do it is to have multiple fields as suggested in https://stackoverflow.com/questions/23686577/favor-exact-matches-over-ngram-matches-in-elasticsearch-when-mapping .

[2015-04-14 16:06] dr0i commented on #138
Question is: should be merge this slightly, if ever,  improvement?

[2015-04-16 15:01] acka47 commented on #138
Multiple fields/indices are the way to go I think. I'd suggest two different query options over the same field. We will have to add a parameter, then.
The auto-suggest use case shouldn't be that central especially as we have seen that it isn't used, anyway.

[2015-04-20 08:07] acka47 opened #139 "Get GND labels from base data"
Currently, we are enriching the title data with GND labels using hadoop job. There are at least two problems with this approach: #84 and one problem not documented appearing after the last morph adjustment.

To avoid these problems and reduce transformation time, we will get the labels directly out of the Aleph XML using morph.

Amongst others, we need to know:
- How do we differentiate the differ

[2015-04-20 08:40] acka47 commented on #139
To find out of which type a GND entity is, you have to take a look at the indicator. From the M[AB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mabTitelBibliographischeDaten2001.txt;jsessionid=94FFA285F2196CD74776795971D02FFA.prod-worker2?__blob=publicationFile):
[code]

[2015-04-20 08:59] acka47 commented on #39
Sorry, but this shouldn't be a general rule at all but rather confined to spatial subject headings (Geographika). See, e.g. http://lobid.org/resource/HT010726584/about ([source data](http://lobid.org/resource?id=HT010726584&format=source)). We shoudl keep this in mind when working on #139.

[2015-04-20 09:01] acka47 commented on #139
**Example 1**: http://lobid.org/resource/HT010726584

Desired outcome is to have the preferred names as usual associated with the GND objects and the alternate names along witht eh prefered names in field `subjectLabel` to allow querying by all labels:
[code]

[Aleph XML](http://lobid.org/resource?id=HT010726584&format=source) (snippet):
[code]

The implementation looks quite straightforward. For

[2015-04-20 09:03] acka47 commented on #139
**Note**: While we should take into account subfields h,b and x for spatial subjects (see https://github.com/hbz/lobid/issues/39#issuecomment-79000458), we might need to omit it for subject headings senso stricto, see e.g. http://lobid.org/resource?id=HT010726584&format=source where subfiled h "Formschlagwort" shouldn't be included.

[2015-04-20 09:19] acka47 commented on #139
**Example 2** (with corporate body as contribtuor and three different types of subject headings): http://lobid.org/resource/HT013077595/about

Desired outcome:

[code]

[Source data](http://lobid.org/resource?id=HT013077595&format=source) (snippet):
[code]

[2015-04-20 11:20] acka47 commented on #139
As we currently do, we should record the preferred Name in the RDF using both the general and the more specific property, e.g.:

[code]

Mapping the subfields from https://github.com/hbz/lobid/issues/139#issuecomment-94394197 to RDF properties, respectively their JSON object keys:

p: `preferredNameEntityForThePerson`
g: `preferredNameForThePlaceOrGeographicName`
s:  `preferredNameForTheSubjectHea

[2015-04-22 09:25] acka47 commented on #17
The example above has been deleted in lobid by now. Here is another example of a record currntly deleted in hbz catalogue but still in lobid: http://lobid.org/nwbib/BT000165331

[2015-04-22 10:00] dr0i commented on #17
This record will be deleted in lobid with the weekly regeneration of the index. Since this regeneration fails since last week (missing all enrichments done via lodmil-ld ), we switched to an old index (2015-03-28) and incrementally update this one. Thus, now deletions since 2015-03-28.

[2015-04-24 09:34] acka47 commented on #139
Regarding subfield c, can you point me to an example, @dr0i?

[2015-04-24 11:09] acka47 commented on #34
Closing as the beta is running with schema.org data: http://beta.lobid.org/organisations

[2015-04-24 11:09] #34 closed

[2015-04-24 11:38] acka47 opened #140 "Improve relevance ranking for title search"
Matches in alternative title seem to be prefered over main title, see e.g. http://lobid.org/resource?name=Kunst: More than the first 50 entries have `alternativeTitle` "Kunst" but no occurance of "Kunst" in the `title` field (if one exists at all).

We should boost the `title` over `alternativeTitle` over `otherTitleInformation` (these being the three fields covered by a `?name` query, see https:/

[2015-04-24 13:02] dr0i commented on #139
http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DHT014280388

[2015-04-24 13:12] acka47 commented on #139
At the NWBib meeting, customers asked for GND work titles having the author name in the label. Example: http://lobid.org/resource?id=HT018312899&format=full

Instead of:
[code]
it should look like this:
[code]

[2015-04-29 11:05] acka47 opened #141 "Item URIs can't be dereferenced"
See e.g. http://lobid.org/item/HT014345141:DE-361:OL830%20N489 or http://lobid.org/item/HT000346014:DE-465:ICC180

[2015-05-04 13:31] dr0i commented on #141
Deployed to staging and to production (although travis failed , but that's because of a dependency download problem and we can't wait when this is fixed. )

[2015-05-04 13:31] dr0i commented on #141
@ahagenbruch was affected by this bug, I think.

[2015-05-04 14:08] dr0i commented on #141
Now, the build is sucessful even on travis. Merged and closing this ticket.

[2015-05-04 14:08] #141 closed

[2015-05-12 08:30] dr0i commented on #139
Ready for testing.
E.g. http://lobid.org/resource/HT007496264 vs http://test.lobid.org/resource/HT007496264
Transformation and indexing for all 20M docs (resulting in 66M docs) took 14h (formerly, with hadoop: 35h).
Missing yet: enrichment with openlibrary, dbpedia and gutenberg. Made a ticket for this: lobid/lodmill/#667).

[2015-05-12 13:23] literarymachine commented on #139
I believe that restricting the type of a resource is now broken, e.g. http://test.lobid.org/resource?name=Tom%2BSawyer&from=0&size=10&type=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FBook returns resoruces that are not bibo:Book (e.g. http://lobid.org/resource/HT016678345).

[2015-05-13 20:42] dr0i opened #143 "Missing types"
Some types  cannot be retrieved when using the api `type`parameter, e.g.:
http://lobid.org/resource?q=*&type=http://purl.org/lobid/lv#Schoolbook
This seems to be true for all the lobid vocabulary defined types.

[2015-05-13 21:08] fsteeg commented on #143
Your sample does not encode the `#` as `%23`, with that it works fine for me:
http://lobid.org/resource?q=*&type=http://purl.org/lobid/lv%23Schoolbook

[2015-05-13 22:12] dr0i commented on #143
That's it! Thx :)

[2015-05-13 22:12] #143 closed

[2015-05-15 16:07] dr0i commented on #29
Copied program to `aither:/home/lod/hbz-aleph-indexer/`and started the script `bin/hbz-aleph-daily-update.sh` which results in getting the updates :) .

[2015-05-15 16:13] dr0i commented on #29
Docu about getting the XML-Clobs (both sites restricted to hbz internal access only) :
https://wiki.hbz-nrw.de/display/~schnasse/Suchmaschine+-+Alephexport
https://wiki.hbz-nrw.de/display/SMS/Darstellung+des+Gesamtabzugs+der+hbz-Titeldaten

[2015-05-15 22:26] dr0i commented on #139
@literarymachine last commits (fixing the index config) seems to fix this problem. Test it, even better with the following API call which results in 15 hits: http://test.lobid.org/resource?name=Tom%2BSawyer%20detective&from=0&size=50&type=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FBook
Yield the same results as the lobid productive.

[2015-05-18 13:16] acka47 opened #144 "PreferredNameForTheWork occurs at entities where it shouldn't and aren't in sync with PreferredName"
Subticket to #139.

Example http://test.lobid.org/resource?id=HT018312899&format=full:

[code]

Two problems:
- `"preferredNameForTheWork": "<<Der>> Cid"` occurs at GND entities where it shouldn't.
- for http://d-nb.info/gnd/7683386-0, `preferredName` and `preferredNameForTheWork` are not identical as they should be.

[2015-05-18 13:32] acka47 opened #145 "Problems with GND entities with complex names"
Sub-issue of #139 .

Example http://test.lobid.org/resource/HT014215912/about, snippet:

[code]
[Source](http://lobid.org/resource?id=HT014215912&format=source):

[code]

[In the Aleph catalogue](http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DBT000007970), these are simply concatenated with seperating commas:
`Karl, I., Heiliges Römisches Reich, Kaiser, 747-814 [(DE-588)118560034]`. We could

[2015-05-18 13:37] acka47 commented on #139
Here is an example where GND labels for one author (http://d-nb.info/gnd/1050282418, "Heckmann, Helmut") were left out: http://test.lobid.org/resource/HT018506077/about

[2015-05-18 14:21] acka47 commented on #145
See also http://lobid.org/resource/HT015455455, snippet
[code]
[Source](http://lobid.org/resource?id=HT015455455&format=source):
[code]

[2015-05-18 14:24] acka47 commented on #139
I have the feeling that in records where there are two or more authorsthe label is only added for one author. Another example: http://test.lobid.org/resource/BT000158168/about

With three contributors it seems to work, though, see e.g. http://test.lobid.org/resource/HT010086112/about.

[2015-05-18 14:24] acka47 commented on #139
http://test.lobid.org/resource/HT018401863/about Only an editor is given but the label isn't included.

[2015-05-18 14:30] acka47 commented on #145
Another one. Compare http://lobid.org/resource/TT001136847/about (godd) with http://test.lobid.org/resource/TT001136847/about (notm good, because array of preferred names.

[2015-05-22 08:17] dr0i commented on #145
Deployed to staging, please test.

[2015-05-22 09:22] acka47 commented on #145
Looks better, but there are more things to do regarding all three examples I delivered above.

**Example 1**: http://test.lobid.org/resource/HT014215912/about, snippet
[code]
- `"preferredNameForThePerson": "Karl , I. , Heiliges Römisches Reich, Kaiser , 747-814"` is missing
- The subject chain should read: `"subjectChain" : [ "Karl, Heiliges Römisches Reich, Kaiser | Herrscherbild | Geschichte (2

[2015-05-22 14:14] dr0i commented on #145
I beg for not mixing new issues into exiting ones (e.g. http://lobid.org/resource/HT014215912 also has two subject chains and also hasn't comma separated entries ("Karl, Heiliges Römisches Reich, Kaiser | Herrscherbild |...").
These issues have been there at least since 17 April (see https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/test/resources/hbz01.nt ).
Also, this ticket consists i

[2015-05-22 14:31] dr0i opened #146 "preferredName and preferredNameForTheSubjectHeading not in sync"
See http://test.lobid.org/resource/HT015455455, snippet
[code]
[Source](http://lobid.org/resource?id=HT015455455&format=source):
[code]
On production it looks good: http://lobid.org/resource/HT015455455.

[2015-05-22 14:32] dr0i commented on #146
please priorize

[2015-05-22 14:37] dr0i opened #147 "preferredNameForThePerson missing"
http://test.lobid.org/resource/HT014215912/about, snippet
[code]
- `"preferredNameForThePerson": "Karl , I. , Heiliges Römisches Reich, Kaiser , 747-814"` is missing

[2015-05-22 14:39] dr0i commented on #147
please priorize

[2015-05-22 14:41] dr0i opened #148 "subjectChain: pulling element entries together"
http://test.lobid.org/resource/HT014215912/about, snippet
[code]

 The subject chain should read: `"subjectChain" : [ "Karl, Heiliges Römisches Reich, Kaiser | Herrscherbild | Geschichte (213)" ]` pulling together "Karl" and "Heiliges Römisches Reich, Kaiser"

[2015-05-22 14:47] dr0i commented on #145
Extracted four ticktes out of this one (#145, #146,#147,#148).

[2015-05-22 14:49] dr0i commented on #145
@acka47 please confirm if this issues is resolved at the staging system.

[2015-05-25 12:02] dr0i opened #149 "Some gnd labels missing"
http://test.lobid.org/resource/HT018401863/about Only an editor is given but the label isn't included.

[2015-05-25 12:29] dr0i opened #150 "Some gnd contributors missing"
In the dnb mab mapping docu only indicator {balnk,b,c,e,f} are mentioned. In the actual data we also have {a}, so these were missing.
See e.g. http://lobid.org/resource/TT001230001 and http://lobid.org/resource/HT015414894 .

[2015-05-25 13:06] dr0i commented on #150
@acka47 mentioned:

    Here is an example where GND labels for one author (http://d-nb.info/gnd/1050282418,
     "Heckmann,  Helmut") were left out: http://test.lobid.org/resource/HT018506077/about

    Another one: http://test.lobid.org/resource/HT018504052/about

And

    I have the feeling that in records where there are two or more authors the label is
    only added for one  author. Another

[2015-05-27 11:23] acka47 commented on #99
@dr0i The latest fix (i.e. only type resources as `lv:ArchivedWebPage` that have  with a URL in 655e) hasn't been deployed to production yet. See http://lobid.org/resource/HT018585406 which should NOT be of type `lv:ArchivedWebPage`.

[2015-05-27 11:27] acka47 commented on #122
Deployed to production. Closing.

[2015-05-27 11:28] #122 closed

[2015-05-27 14:50] dr0i commented on #99
In the meantime (at 20150415) the metadata of the resource has changed , i.e. e.g. http://lobid.org/resource/HT018585406 has an URL in 655e in thus is (correctly) of type `lv:ArchivedWebPage`.
The principle mechanism coded with https://github.com/lobid/lodmill/commit/ed809ffe4ef9f6d7f500525a5f93d0953b313b93 to exclude the type `lv:ArchivedWebPage` if there is *no* 655e *is also* working , as the u

[2015-05-27 15:03] dr0i commented on #139
Deployed to staging and production.
@acka47 please have a look. Have mind also comment in lobid/lodmill#669.

[2015-05-27 15:26] dr0i commented on #84
With #139 (not using hadoop anymore to enrich with gnd data) the `preferredName` is resolved via hbz catalog directly and thus present in the lobid resources endpoint (e.g.
http://lobid.org/resource/HT013468451).

I acknowledge that the principle issue remains for the subject endpoint (e.g. http://api.lobid.org/subject?id=4023168-9&format=full) but ask if this issue is of some pressure or is it ra

[2015-05-27 15:41] dr0i commented on #99
Deployed to staging and production (since yesterday with lobid/lodmill#669).

[2015-05-27 16:04] dr0i commented on #150
Deployed to staging and production.

[2015-05-27 16:05] dr0i commented on #149
Deployed to staging and production.

[2015-05-27 16:06] dr0i commented on #147
Deployed to staging and production.

[2015-05-27 16:07] dr0i commented on #146
Deployed to staging and production.

[2015-05-27 16:09] dr0i commented on #144
Still a problem with work title - shouldn't have `preferredNameForThePerson`:

    {"@id": "http://d-nb.info/gnd/7683386-0",
    "preferredName": "Grabbe, Christian Dietrich: Der Cid",
    "preferredNameForThePerson": "Grabbe, Christian Dietrich: Der Cid",
    "preferredNameForTheWork": "Grabbe, Christian Dietrich: Der Cid"},

[2015-05-27 16:12] dr0i commented on #134
Deployed to production.

[2015-05-27 16:12] #134 closed

[2015-05-28 08:19] acka47 commented on #99
@jschnasse Can you point me to a current example of an edoweb resource _without_ a URL in 655e?

[2015-05-28 08:22] acka47 commented on #84
We use this in the subkect facets of NWBib. Take a look at http://lobid.org/nwbib/search?location=&q=* and open the `Schlagwörter` facet and you will see on top the subjects without a general `preferredName`. That's why we will have to resolve this in some point of the enar future.

[2015-05-28 08:31] acka47 commented on #150
Looks good. Closing.

[2015-05-28 08:31] #150 closed

[2015-05-28 08:36] acka47 commented on #149
Works on test but not on production, see the nwbib entry at http://lobid.org/nwbib/HT018401863.

[2015-05-28 08:37] acka47 commented on #147
works. closing.

[2015-05-28 08:37] #147 closed

[2015-05-28 08:38] acka47 commented on #146
Works. Closing.

[2015-05-28 08:38] #146 closed

[2015-05-28 08:42] acka47 commented on #145
Resolved on staging and production. Closing.

[2015-05-28 08:42] #145 closed

[2015-05-28 08:47] acka47 commented on #139
We can close this one as we have this in production and there probably only will be some minor adjustments in the future

[2015-05-28 08:47] #139 closed

[2015-05-28 09:17] dr0i commented on #129
Deployed to staging.

[2015-05-28 10:01] acka47 commented on #99
Just talked to @jschnasse . This issue has gotten a bit out of hand. We decided to completely revert the addition of type `v:ArchivedWebPage` (i.e. no resource at all shall be typed as such) and stick to the issue title which we already have reached (i.e. adding the URL of the web page that has been archived to the RDF.

We may get the information whether something is an archived web page from MAB

[2015-05-28 10:02] acka47 opened #152 "Type archived web pages as such"
See https://github.com/hbz/lobid/issues/99#issuecomment-66102018 and following comments.

From https://github.com/hbz/lobid/issues/99#issuecomment-106256832:

`<controlfield tag="051">mw||||||</controlfield>`.

[2015-05-28 11:25] jschnasse commented on #99
Hi, just to clarify, there are archived webpages in the catalogue and it makes sense to type them as such. IMO it seems to be a bad idea to override explicit types if no actual use case is in sight. I will have an eye on this in future issues. If the 'w' indicates a type "archivedWebpage" it would add a valuable information to the dataset. Unfortunately this type seems to be completely undocumente

[2015-05-28 11:34] acka47 commented on #99
I did so with #152.

[2015-05-28 11:37] jschnasse commented on #99
Just for the record. The current index is not sufficient for edoweb, because everything with an entry "archivierte Langzeitresource" in Mab 655e is now typed as "archivedWebpage" which is wrong and also not in accordance with our routine of title imports. Our frontend uses the types to filter search results against lobid, e.g if a user wants to import a title for a monograph, only certain types in

[2015-05-28 12:02] acka47 opened #153 "Redundant preferredNames as array"
Examples in this result list: http://lobid.org/nwbib/search?person=Konrad+Adenauer&from=20&sort=

E.g. http://lobid.org/resource/HT015891797/about & http://lobid.org/resource/HT014319164/about

Note :exclamation: This problem occurs when a person is both contributor and subject.

[2015-05-29 07:22] acka47 commented on #129
@dr0i, bitte übernehmen Sie. I don't know what to do with these failing Travis tests.

[2015-05-29 08:38] dr0i commented on #107
2015-05-29 09:47:48,071
java.lang.OutOfMemoryError: GC overhead limit exceeded
	at java.lang.StringCoding$StringEncoder.encode(StringCoding.java:300) ~[na:1.8.0_05]
	at java.lang.StringCoding.encode(StringCoding.java:344) ~[na:1.8.0_05]
	at java.lang.String.getBytes(String.java:906) ~[na:1.8.0_05]
	at play.api.mvc.Codec$$anonfun$javaSupported$1.apply(Results.scala:317) ~[com.typesafe.play.play_2.1

[2015-05-29 09:41] acka47 opened #154 "Problem with persons without GND iD"
See e.g http://lobid.org/resource/HT018617137 and presentation in NWBib at http://lobid.org/nwbib/HT018617137.

JSON:
[code]

[Source](http://lobid.org/resource?id=HT018617137&format=source):

[code]

In NWBib, we need the content from 100 in a `Autor/in` field. I don' think we can implement this with the current data. What would be the best way to go?

[2015-05-29 11:11] acka47 commented on #153
Another example: http://lobid.org/nwbib/HT018567032

[2015-05-29 11:30] acka47 opened #155 ""Collections" only transformed to RDF in part"
Example (haven't found another one yet): http://lobid.org/resource/HT003774860/about

JSON-LD (complete):
[code]

This should be typed as `bibo:Series` as element 0 in field 052 is "r". [Source](http://lobid.org/resource?id=HT003774860&format=source) (snippet):

[code]

Maybe this has something to do with missing values in 050 and 052. I could imagine that this is catalogued incorrectly. Will inve

[2015-05-29 11:38] acka47 opened #156 "Missing preferredNames for some GND entities"
Example resources: http://lobid.org/resource/HT017171312/about, http://lobid.org/resource/HT017022683/about, http://lobid.org/resource/BT000012724/about, http://lobid.org/resource/HT016853119/about, http://lobid.org/resource/HT004488383/about

At all examples I could find, the problem occura with non-person GND entries (corporate bodies, events) that have a hyphenated GND ID.

[2015-05-29 13:15] dr0i opened #157 "Monitor and automatically restart APIs"
On `quaoar1` reside the play apps for e.g. lobid API, nwbib and all their staging sisters. Amongst general considerations and especially because of the unresolved #107 and hbz/nwbib#108 these processes are now monitored by [monit](https://en.wikipedia.org/wiki/Monit) - if the APIs are down they will be automatically restarted.
Every 10th second a check is done.
Thx @jschnasse to point me to this n

[2015-06-01 08:40] dr0i commented on #99
Deployed to staging. `lv:ArchivedWebPage` is no more. Please test.

[2015-06-01 08:53] acka47 commented on #99
+1

[2015-06-01 09:48] acka47 commented on #148
Another example is http://lobid.org/resource/HT018312899:

Currently it reads:
`"subjectChain" : "Grabbe, Christian Dietrich | <<Der>> Cid | Dramaturgie | Rezeption (231,321)"`

Desired outcome:
`"subjectChain" : "Grabbe, Christian Dietrich: Der Cid | Dramaturgie | Rezeption (231,321)"`

(see also https://github.com/hbz/nwbib/issues/104)

[2015-06-01 11:38] dr0i commented on #99
@jschnasse Please acknowledge if/when this should be made productive.

[2015-06-01 11:42] dr0i commented on #149
I can see the label now. U2 ?

[2015-06-01 11:51] acka47 commented on #149
+1, closing.

[2015-06-01 12:27] dr0i commented on #99
With last commit the presumption "archived => cannot be of type book" is removed.

[2015-06-01 13:45] acka47 commented on #39
+1

[2015-06-01 13:45] acka47 commented on #39
Closing.

[2015-06-01 13:45] #39 closed

[2015-06-01 15:08] acka47 commented on #149
Reopening.
Here are some more examples with missing GND labels:
http://lobid.org/resource/HT006163820
http://lobid.org/resource/TT001131083
http://lobid.org/resource/HT016993903
http://lobid.org/resource/HT011166589

[2015-06-02 07:31] dr0i commented on #99
deployed to staging

[2015-06-02 11:15] jschnasse commented on #99
looks fine!

[2015-06-02 12:13] dr0i commented on #99
Deployed to production, closing.

[2015-06-02 12:13] #99 closed

[2015-06-08 07:57] acka47 opened #158 "Remove redundancy: dct:creator is always also dct:contributor"
Example: http://lobid.org/resource/HT013208865/about

Snippet:

[code]

[2015-06-08 09:27] acka47 commented on #155
I found another one: http://lobid.org/nwbib/HT014918230.

JSON-LD (complete):
[code]

Source (snippet):
[code]
- The data in 050 just means "not specified".
- The data in 051 means "mehrbaendiges begrenztes Werk - nicht Teil eines Gesamtwerks" (for "n" in element 0), "sonstige Veroeffentlichungsart/-inhalt" (for "z" in element 3)
- No data in 052.

[2015-06-09 09:57] acka47 opened #160 "hasFormat link missing"
See http://lobid.org/resource/HT016511663/about where the link is missing though it apperas in the test at https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/test/resources/CT003012479.nt.

[2015-06-09 16:10] dr0i commented on #153
Test-set deployed to staging.

[2015-06-09 19:18] acka47 commented on #153
Looks good. Please leave out one white space before the comma. [Example](http://test.lobid.org/resource/HT015891797/about) snippet:

`"preferredName" : "Adenauer, Konrad , 1876-1967"`

[2015-06-09 19:23] acka47 commented on #153
In the [other example](http://test.lobid.org/resource/HT014319164/about), not only there also is the white space before the comma but also the name array with the `preferedNameForThePerson` property:
`"preferredNameForThePerson" : [ "Reinarz, Titus", "Reinarz, Titus , 1948-" ]`

[2015-06-10 08:07] dr0i commented on #153
Re: `preferedNameForThePerson`
I just treated `preferedName` as this is the property which is shown , both in lobid RDFa and NWBib.

[2015-06-10 08:22] acka47 commented on #153
You did? It is quite strange that in http://test.lobid.org/resource/HT015891797/about both `preferedName` and `preferedNameForThePerson` are ok.

[2015-06-10 08:40] dr0i commented on #153
Not strange - in HT015891797 `preferedNameForThePerson` was not an array in the first place (look at http://lobid.org/resource/HT015891797/about ).
Anyway, I'll have a look at it now

[2015-06-10 08:55] dr0i commented on #153
TODO: get rid of  `preferredNamesForThePerson`property in subjects, see http://test.lobid.org/resource/HT018312899/about ("Grabbe, Christian Dietrich: Der Cid").

[2015-06-10 09:33] acka47 opened #161 "Adjust transformation rules to RDA changes"
From **1 October 2015** people will be cataloging in hbz union catalog according to the RDA rules as documented [here](https://wiki1.hbz-nrw.de/x/LwBoB). We will have to adjust the transformation, i.e. the [hbz01-to-lobid morph file](https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml) accordingly.

After a first cursory look at the documents, I sugg

[2015-06-10 11:28] dr0i commented on #153
Test-set deployed to staging.

[2015-06-10 13:24] dr0i commented on #157
Monit restart results in broken Umlaute.

[2015-06-11 09:54] acka47 commented on #153
+1

[2015-06-11 12:51] dr0i commented on #157
Script is added which is parametrized to guarantee stable restarts independent on the instance.
A locale is sourced in which guarantees the proper locale.

[2015-06-11 12:51] #157 closed

[2015-06-11 13:28] dr0i commented on #153
Merged into master . Needs a complete reindexing to be deployed to production, though.

[2015-06-11 16:28] dr0i commented on #129
Fixed the code so that tests work as expected.

[2015-06-11 16:33] dr0i commented on #129
Deployed to staging.

[2015-06-12 07:09] acka47 commented on #129
@dr0i The search already worked as expected without adding the redundant property as workaround. Did you add it for the tests to work, then?

[2015-06-12 08:15] dr0i commented on #129
Without the redundant property a query would take dct:creator into account. This would propably not lead to false hits, but let me say its plain wrong to do this. Furthermore, we have a template here that brings us awareneness of what happens behind the curtain: It's not that easy to change the queried properties (the code is also not easy to change, because it also affects the querying of the per

[2015-06-12 08:32] acka47 commented on #129
Thanks for the explanation. Everything looks good. +1 from my side.

[2015-06-12 08:59] dr0i commented on #129
Deployed to production, closing.

[2015-06-12 08:59] #129 closed

[2015-06-16 15:23] dr0i commented on #107
Found the cause: it lies in the `play.cache.Cache` library. Setting a ttl like e.g. `Cache.set("a", "b", 1)` one would expect all cached objects would be removed after about one second, but that's not the case. Tried it with `https://github.com/hbz/lobid/blob/master/test/tests/SampleUsage.java` (which lookups 351k docs and repeatedly crashes the API).

So the easiest solution is to not use the cac

[2015-06-17 07:24] philboeselager commented on #107
Have you tried to alter the cache settings? The most obvious setting would be the cache persistence time, which is even optional. While having no knowledge about the memory consumption caused by the use of the classes you named, it seems to be possible that perhaps giving a shorter time than 1 day for Facets could help.

Searching the web didn't bring up many cases of memory leaks for the Play cac

[2015-06-17 08:01] dr0i commented on #107
I profiled with the mentioned jprofiler (10 day trial version) and find also good enough the free http://www.eclipse.org/mat/ .Both tools showed that `ehcahe` is the problem.
Now, the forementioned `Cache.set("a", "b", 1)`should set `ttl` (Time To Live) to one second , which didn't worked. For the facets, it's ` 24 * 60 * 60` which is one day in seconds. Don't know if this works, but it doesn't ma

[2015-06-17 08:29] dr0i commented on #153
Deployed to production (mind that the first two examples in this issue are still cached with the old values. Wait one hour.)

[2015-06-17 08:29] #153 closed

[2015-06-17 10:44] dr0i opened #162 "Get dumps using a time frame like in OAI-PMH"
It should be possible to get only data that changed since a given date. At the moment, if someone wants to get data set, she has to get the whole set , day by day all over again. This is not performant and comes with a ridicoulus overhead on both sides, server and consumer.

The idea is to create an extra triple which would be about the about-URI of the resource stating _when_ the metadata was cre

[2015-06-17 14:09] dr0i commented on #107
Deployed to staging and to production. Mind you that only lobid API is affected, NOT nwbib API (which has some other stuff done which I don't have evaluated yet, so that @fsteeg may have a look at it when necessary). For NWBib API look at hbz/nwbib#108.
Closing this one.

[2015-06-17 14:09] #107 closed

[2015-06-17 15:11] dr0i opened #163 "Author search reveals unexpected results"
Reported by Werner Gresshoff.
E.g. http://lobid.org/resource?author=134530306 reveals false hits.

[2015-06-18 07:22] jschnasse commented on #155
I do not understand the background, but like to mention that I just found another problematic resource http://lobid.org/resource/HT017379873/about. @acka47 ask me to comment here.

[2015-06-18 07:23] jschnasse commented on #155
Just to make that clear, the resource is not only typed wrong there is also data missing. Compare http://okeanos-www.hbz-nrw.de/F/?func=find-c&ccl_term=IDN%3DHT017379873

[2015-06-18 07:51] acka47 commented on #155
Taking a look at http://lobid.org/resource/HT017379873. JSON looks quite similar to the other ones:

[code]

Source:
[code]

- Field 050: "not specified"
- Field 052 is catalogued incorrectly :exclamation:
   - There only should be one letter in element 0 instead of three (`pst` from which only the `p` is documented in the [MAB doc](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/ma

[2015-06-18 08:36] acka47 opened #164 "All ZDB resources wrongly typed as bibo:Periodicals"
Stumbled over this while investigating #155. When I read the [morph](https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml#L499-501) correctly, all resources with a ZDB ID are typed as `bibo:Periodical`. This isn't right as there are also series in ZDB -– which are mostly _not_ periodicals.

Examples:
- http://lobid.org/resource/HT012350250/about
- htt

[2015-06-18 10:07] dr0i commented on #163
Deployed to staging.
http://lobid.org/resource?author=134530306 wil not show anything because there is nothing there, I think. There _is_ one resource where the person is mentioned , but only as literal: http://lobid.org/resource?author=Stephan,%20Steffi see http://d-nb.info/gnd/134530306.
The query mentioned in hbz/nwbib#102 works but results in only _1_ hit , not _2_ (which seems to indicate tha

[2015-06-18 11:09] acka47 commented on #163
+1

[2015-06-18 11:38] jschnasse opened #166 "Thesis - Abschlussarbeit - Dissertation - MasterThesis"
This is a question regarding types in lobid.

Example:
http://lobid.org/resource/HT017480009/about

This resource has been marked as beeing of type

http://purl.org/vocab/frbr/core#Manifestation
http://purl.org/dc/terms/BibliographicResource
http://purl.org/ontology/bibo/Thesis
http://purl.org/ontology/bibo/Book

Questions:
1. Is there a way to decide that this is a doctoral thesis and not a bache

[2015-06-18 11:39] jschnasse opened #167 "Missing URN in http://lobid.org/resource/HT017480009/about"
Why does the URN not show up in lobid?

http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DHT017480009

We need that identifier for our FRL repo (formerly Ellinet).

[2015-06-18 12:20] dr0i commented on #167
What URN do you need?
I can see `http://nbn-resolving.de/urn:nbn:de:hbz:38m-0000006293` for http://lobid.org/resource/HT017480009 .

[2015-06-18 12:30] jschnasse commented on #167
What about http://purl.org/lobid/lv#urn ?

[2015-06-18 12:32] acka47 commented on #167
According to the [morph file, lines 688-694](https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml#L688-L694), we take the URN from field 552b. In the referenced resource, the URN is stored in a field named `URN`, though. From the [source](http://lobid.org/resource?id=HT017480009&format=source):
[code]

[2015-06-18 12:33] dr0i commented on #167
Uh - this is not MAB conform. Why is this even possible?

[2015-06-18 12:33] jschnasse commented on #167
It is ExL stuff: Comes from Digitool

Example that provides lobid:urn
http://lobid.org/resource/HT016173828/about

[2015-06-18 12:35] dr0i commented on #163
Deployed to production, closing.

[2015-06-18 12:35] #163 closed

[2015-06-18 12:36] jschnasse commented on #167
Maybe it is more hbz stuff and should prevent overrides, so they reserve their own field.

[2015-06-18 12:42] acka47 commented on #167
http://lobid.org/resource/HT016173828/about

For this resource the URN is stored – correctly – in 552b, from the [source](http://lobid.org/resource?id=HT016173828&format=source):

[code]

I don't know why this `URN` field exists...

[2015-06-18 12:48] acka47 commented on #167
@jschnasse Can you tell us whether Ellinet generally uses the `URN` field instead of 552?

[2015-06-18 14:14] dr0i commented on #149
Haha , I thought it was the missing RDFa view ...
Well THAT is now fixed , see e.g. http://test.lobid.org/resource/HT006163820/about.
The missing GND labels are not lables alone but the WHOLE GND entry. Going fix this timely.

[2015-06-18 14:30] acka47 opened #169 "Use lv properties instead of dc elements for lists of alternate labels"
Requested by @jschnasse . Listing several labels of one contributor/creator or subject under `dc:contributor`/~~`dc:creator`/~~`dc:subject` seems wrong as it leaves the impressions of having more contributors/creators than there actually are. We should rather use properties from our local lobid vocab namespace. As this is only intended to be an interims solution, we could just use properties witho

[2015-06-18 14:31] acka47 commented on #169
To do:
- [ ] Adjust morph
- [ Adjust context file
- [ ] OPTIONAL Add properties to lobid vocab

[2015-06-18 15:21] dr0i commented on #149
nonsense. It's only the labels.
However, you did say that you don't want to see these subjects as `dc:subject` but as `subjectChain` , and they *are* subsumed under `subjectChain`:
https://github.com/hbz/lobid/issues/122#issuecomment-78903549
So what now is it you want really?

[2015-06-19 06:52] dr0i commented on #167
I asked the hbz Verbund and they said 1. this field exists for a very long time and 2. it is expanded to `552b` for most exports (Z39.50 etc.). Why it is missing in the AlephMabXml export is not cleared yet.

[2015-06-19 08:24] acka47 commented on #149
https://github.com/hbz/lobid/issues/122#issuecomment-78903549
So what now is it you want really?

This issue isn't about subject labels at all. The problem was that person/corporate body labels for contributors/creators were missing. I saw some time ago this skimming through the [NWBib data](http://lobid.org/nwbib/search?location=&q=*). By now, the data looks good. Whatever you did, the problem is

[2015-06-19 08:30] acka47 commented on #149
Closing, as it works for now.

[2015-06-19 08:30] #149 closed

[2015-06-19 09:34] dr0i commented on #167
Git the answer: Correct is `AlephXml` not `AlephMabXml`, and for the former one it is correct to have `URN`. I found in the description of the export (https://wiki1.hbz-nrw.de/pages/viewpage.action?pageId=13238276 (German)) a table referenced ("tab_fix_mab") which shows up the ominous `URN` field.
So, the solution is to take the `URN` filed into acount when transforming the data to LOD.

[2015-06-19 10:19] acka47 opened #170 "Some isPartOf relations missing"
We only have `isPartOfName` properties naming the superordinated resoruce but not the actual link to it.

Examples
- Snippet from http://lobid.org/resource/HT007384038/about: `{  "isPartOfName" : "Beiträge zur Stadtgeschichte" }`
- Book as part of MultiVolumeBook/Collection: http://lobid.org/resource/HT018583629/about <- :exclamation:  I guess this is just another expression of #155 because the su

[2015-06-19 10:24] acka47 opened #171 "Some hasPart relations missing"
Example:
http://lobid.org/resource/HT018585378 says `"isPartOf" : "http://lobid.org/resource/HT018583629"` but http://lobid.org/resource/HT018583629 doesn't have a `hasPart` link back.

[2015-06-19 10:37] acka47 commented on #171
Another example is http://lobid.org/resource/HT018193229:

It is linked with `isPartOf` from http://lobid.org/resource/HT018206132 but doesnt contain a `hasPart` link back.

[2015-06-19 10:39] acka47 commented on #171
As in all these examples somehow acollection is involved that is not really transformed to RDF at the moment this might have something to do with #155 and – if we are lucky – might be resolved together with #155.

[2015-06-19 10:56] acka47 commented on #171
Thinkinjg about this more, this might not be an actual issue. I guess we don't have all the `hasPart` links in the data in the first place. We will have to check this.

[2015-06-19 11:15] acka47 opened #172 "Move hbz01tordf transformation code to repo hbz/lobid-resources"
With deploying to production #139 we moved away hadoop and should now move the hbz01 transformation code to hbz/lobid-resources.

We will wait with this until @fsteeg is back, though – except he gives his approval on this ticket before.

[2015-06-19 11:21] dr0i opened #173 "NullPointerException at "models.Hit" cancels query session"
Trying to load the nwbibset using [SampleUsage.java](https://github.com/hbz/lobid/blob/master/test/tests/SampleUsage.java) to get the whole NWBib set sometimes break with this error :
    2015-06-19 10:18:46,407 - [ERROR] - from application in play-akka.actor.default-dispatcher-1136

    ! @6mg84abl7 - Internal server error, for (GET) [/resource?set=NWBib&from=275101&size=300] ->

    play.api.App

[2015-06-19 11:50] acka47 commented on #169
The morph has to be updated like this:
- [ ] Replace all occurences of `http://purl.org/dc/elements/1.1/contributor` by `http://purl.org/lobid/lv#nameOfContributingPerson`
- [ ] Replace `http://purl.org/dc/elements/1.1/subject` by `http://purl.org/lobid/lv#subjectLabel`

[2015-06-19 11:53] acka47 commented on #169
After running the morph, the JSON-LD context has to be updated like this:

- [ ] Replace `"contributorLabel": "http://purl.org/dc/elements/1.1/contributor"` b< "contributorLabel": "http://purl.org/lobid/lv#contributorLabel"
- [ ] Replace `"subjectLabel": "http://purl.org/dc/elements/1.1/subject"` by `"subjectLabel": "http://purl.org/lobid/lv#subjectLabel"`

[2015-06-19 11:54] acka47 commented on #169
@dr0i, what do you think: Should I update the morph myself according to https://github.com/hbz/lobid/issues/169#issuecomment-113487704?

[2015-06-19 12:23] dr0i commented on #169
Just give it a try. Put in in an branch of its own, as normal. I will review it.

[2015-06-19 12:29] acka47 commented on #164
I doesn't seem useful for me to add the Periodical type – especially if it is incorrect. As we don't use `bibo:Periodical` for facetting in NWBib, I suggest removing it completely. The same goes for `bibo:Collection` in the context of ZDB resources.

[2015-06-19 12:48] acka47 commented on #166
I don't think so. We get this from MAB 051 (code u) and 052 (code `sc`), see [lines 417 to 423 in the morph](https://github.com/lobid/lodmill/blob/master/lodmill-rd/src/main/resources/morph-hbz01-to-lobid.xml#L417-L423). From the [MAB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mab2FormatSatzkennungSegment000Nov2001.txt?__blob=publicationFile):

[code]
The good th

[2015-06-19 19:53] dr0i opened #174 "Disable swap for elasticsearch"
Despite our 82 GB Ram, at some point elasticsearch begins to swap, slowly but steadily. The cause is the linux OS which wants to be clever (see https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html#setup-configuration-memory). It's best practice to disallow swap for elasticsearch, which is possible but only in tight cooporation with the OS:

- add `bootstrap.mloc

[2015-06-22 07:59] dr0i commented on #169
Deployed to testing.

[2015-06-22 08:43] dr0i opened #176 "Getting loads of data (aka dump)"
It should be possible to load lots of data, e.g. for hbz/nwbib#106. Getting this dump it is not save to use `deep pagination` (setting `from`and `size` and repeat the iterated  lookups) because there are background merge processes in elasticsearch, resulting in doublets and missing data (this can be reproduced when using https://github.com/hbz/lobid/blob/master/test/tests/SampleUsage.java ). Also,

[2015-06-22 09:49] jschnasse commented on #166
What about habilitation treatise? Do they have a specific type in lobid?

[2015-06-22 09:57] acka47 commented on #162
As I understand this, the information we want to add is in MAB fields `002` and `003`. From the [MAB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mab2FormatSatzkennungSegment000Nov2001.txt?__blob=publicationFile):

[code]

In an [example file](http://lobid.org/resource?id=HT002948556&format=source) it looks like this:

[code]

# To Do

The JSON-LD should include th

[2015-06-22 12:04] acka47 commented on #166
I found a "Diplomarbeit" in the catalog, see http://lobid.org/resource?id=HT009060096&format=source. It isn't typed as Thesis, though.

[2015-06-22 12:09] acka47 commented on #166
I found another "Diplomarbeit" (http://lobid.org/resource/HT009067278/about, [source](http://lobid.org/resource?id=HT009067278&format=source)) which is actually typed as `bibo:Thesis`.

[2015-06-22 12:15] acka47 commented on #166
Here is an unspecified one: http://lobid.org/resource/HT009069745/about & http://lobid.org/resource?id=HT009069745&format=source

[2015-06-22 12:20] acka47 commented on #166
Her is a very old "Universitätsschrift" which is not typed as such:http://lobid.org/resource/HT009060414/about.

[2015-06-22 12:24] acka47 commented on #166
And finally I also found a "**Habilitationsschrif**t" typed as `bibo:Thesis`: http://lobid.org/resource/HT009066992/about, source: http://lobid.org/resource?id=HT009066992&format=source

[2015-06-22 12:27] acka47 commented on #166
This statement is now disproved by the examples in the comments above.

[2015-06-22 12:28] acka47 commented on #166
@jschnasse I hope you now have some more clarity regarding your initial two questions. Can we close this ticket, then?

[2015-06-22 12:40] acka47 commented on #166
I just talked to @jschnasse, he now has absolute clarity. We decided not to try adding more detaiuled typing but at least to add the information from field 519 to the RDF. I will investigate the way to go forward in another ticket (#177). Closing this one.

[2015-06-22 12:40] acka47 opened #178 "Add information from field 519 to RDF"
See https://github.com/hbz/lobid/issues/166#issuecomment-114087749.

[2015-06-22 12:41] #166 closed

[2015-06-23 07:21] dr0i commented on #169
Deployed to production, closing.

[2015-06-23 07:23] dr0i commented on #167
Deployed to production. @jschnasse plz have a look.

[2015-06-23 08:07] jschnasse commented on #169
thx! Looks nice so far.

[2015-06-23 11:41] acka47 commented on #167
+1 from me

[2015-06-23 11:50] jschnasse commented on #167
+1

[2015-06-23 15:35] acka47 commented on #164
I am working on this and will remove both types `bibo:Periodical` and `bibo:Collection`.

@literarymachine Felix, @jschnasse told me that he is generally inf avor of cleaning up the typing oin lobid and that you it whouldn't break edoweb. Nonetheless, I am mentioning you so that you know what is going on.

After removing the types `Periodical` and `Collection` you will only have the different type

[2015-06-23 16:00] dr0i commented on #167
Closing.

[2015-06-24 07:48] acka47 commented on #178
I found the right RDA property for this: [rdau:P60489](http://rdaregistry.info/Elements/u/P60489). From the description:

See also the respective [paragraph in the RDA toolkit](http://access.rdatoolkit.org/document.php?id=rdachp7&target=rda7-677#rda7-677) (authentification needed).

[2015-06-24 07:54] acka47 commented on #178
If – besides subfield a which should be there for all records with field 519 – also subfield p exists both should be concatenated. Example http://lobid.org/resource?id=HT018239864&format=source should result in:

`<http://lobid.org/resource/HT018239864> <http://rdaregistry.info/Elements/u/P60489> ">Zugl. Göttingen, Univ., Diss., 2013" .`

[2015-06-24 09:46] acka47 commented on #155
Here is a resource from the test set that isn't correct: http://lobid.org/resource/HT001373475

[2015-06-24 09:49] acka47 commented on #155
Here is a resource in the test set where it doesn't work: http://lobid.org/resource/HT002619538

[2015-06-24 12:39] acka47 commented on #55
We don't work with linkedgeodata currently. Closing.

[2015-06-24 12:39] #55 closed

[2015-06-24 12:45] acka47 commented on #152
@jschnasse Have you heard something re. `w` in field 051 as indicator for an archived web page?

[2015-06-24 12:56] acka47 commented on #131
I guess this is fixed by now. Closing.

[2015-06-24 12:56] #131 closed

[2015-06-24 12:58] acka47 commented on #128
As this hasn't re-occured yet, I am closing this issue for now.

[2015-06-24 12:58] #128 closed

[2015-06-24 13:05] acka47 commented on #133
This can also be closed also I got aware of another issue. Obviously, the label of GND entity http://d-nb.info/gnd/36467-8 isn't correctly transformed to RDF, see http://lobid.org/resource?author=36467-8. (Label should be "Rheinland-Pfalz. Statistisches Landesamt" or similar.) Will open another issue for this. Closing this one.

[2015-06-24 13:06] #133 closed

[2015-06-24 13:11] acka47 opened #179 "Some GND labels not correctly built from Aleph XML"
E.g. , the label of GND entity http://d-nb.info/gnd/36467-8 isn't correctly transformed to RDF, see http://lobid.org/resource?author=36467-8. lt should read "Rheinland-Pfalz. Statistisches Landesamt" or similar and not only "Rheinland Pfalz".

[Example](http://lobid.org/resource?id=HT018216462&format=source) source data (snippet):

[code]

In RDF, subfields `h` and `k`should be concatenated, resul

[2015-06-24 13:11] acka47 commented on #179
@jschnasse Let us know if this has to be prioritized.

[2015-06-24 13:13] acka47 commented on #118
Duplicate to lobid/lodmill#639. Closing.

[2015-06-24 13:13] #118 closed

[2015-06-24 13:16] acka47 commented on #117
http://lobid.org/resource/HT018449929 is there now. I guess we can close this, can't we @dr0i, @jschnasse?

[2015-06-24 13:23] acka47 commented on #114
@dr0i Has this something to do with lobid/lodmill#609? Can we maybe close this one now?

[2015-06-24 13:34] acka47 commented on #13
Might be worked on in lobi-organisations

[2015-06-24 13:34] #13 closed

[2015-06-24 13:36] acka47 commented on #52
Duplicate to https://github.com/lobid/lodmill/issues/676. Closing.

[2015-06-24 13:36] #52 closed

[2015-06-24 13:39] acka47 commented on #8
No use case. Closing

[2015-06-24 13:39] #8 closed

[2015-06-24 14:03] acka47 commented on #79
Actually, I don't know a use case where we will need this links. Closing.

[2015-06-24 14:03] #79 closed

[2015-06-24 14:22] acka47 commented on #126
Looks similar or even redundant to https://github.com/lobid/lodmill/issues/463. @dr0i What do you think: Can we close one of these?

[2015-06-25 08:43] dr0i commented on #117
Everything fine, closing.

[2015-06-25 08:43] #117 closed

[2015-06-25 08:54] dr0i commented on #114
No, it's not lobid/lodmill#609. But the issue can be avoided when setting the parameters of the indexer right.( Now. There is stuff to do , the programm is too complicated. But we leave it is at is for now.)

[2015-06-25 08:54] #114 closed

[2015-06-25 09:09] dr0i commented on #68
Merged into master. Will be completely deployed when completely reindexed , doen at the weekend. Closing now.

[2015-06-25 09:09] #68 closed

[2015-06-25 09:11] dr0i commented on #126
Yes, closing.

[2015-06-25 09:11] #126 closed

[2015-06-26 10:01] jschnasse opened #180 "Mapping for field 078 needed"
allow me to quote the description from my recent emails:

für Feld 078. In diesem Feld wurde von der zbmed zusätzlich zum
Ellinet-Selektionskennzeichen die assoziierte Institution in Form einer
GND-ID erfasst (unterscheidet sich wohl semantisch von 200).

<subfield code="a">38 M: ellinet ; GND: (DE-588)2137494-6</subfield>

nachvollgende Eintrag "GND:.*" muss nicht vorkommen.

Als prädikat käme z.

[2015-06-26 12:10] acka47 commented on #180
Example http://lobid.org/resource/HT015697059/about?format=source, snippet:

[code]

Example http://lobid.org/resource/HT016075829/about?format=source, snippet:

[code]
:grey_exclamation: Note , that field 078 is repeated here. We will have to take into account indicator `r`.

Example http://lobid.org/resource/HT016702347/about?format=source, snippet:

[code]

[2015-06-26 12:19] acka47 commented on #180
The question is which property we use to indicate the "associated institution". I guess the value is always one from [`98`](http://lobid.org/organisation/DE-98) or [`38M`](http://lobid.org/organisation/DE-38M). [`dbpedia:institution`](http://dbpedia.org/ontology/institution) seems general enough for our case. So I also suggest using it in this case.

[2015-06-28 22:47] jbaiter commented on #176
This would be incredible, I've been playing around with `from` and `size` a bit, with a very bad conscience about the server load I must've been producing, good to know that I was most likely missing out on a lot of data, too!
Exposing `scroll`/`scan` would be great :-)

[2015-06-29 03:33] akuckartz commented on #176
How about [Triple Pattern Fragments](http://www.hydra-cg.com/spec/latest/triple-pattern-fragments/)?

[2015-06-29 08:13] acka47 opened #181 "Add support for querying linked data fragments"
Requested by @akuckartz, see https://github.com/hbz/lobid/issues/176#issuecomment-116416144 & https://github.com/hbz/lobid/issues/39#issuecomment-78929005.

For background see http://linkeddatafragments.org/.

[2015-06-29 08:33] acka47 commented on #176
@akuckartz Thanks for the comment. We are aware of the Linked Data Fragments approach. Anyway, we built the lobid API so that people can access the data without knowing about RDF Triples and SPARQL. We will think about adding triple pattern fragments functionality in the future. I opened an issue for this, see #181.
Would you use the functionality if provided?

[2015-06-29 09:24] akuckartz commented on #181
I am considering to submit a proposal regarding this Call for Proposals:
http://www.talkofeurope.eu/creative-camp-3/call-for-participation/

A proposal likely would use LDF / TPF as one of the technologies. I will try to involve hbz data (even if LDF / TPF is not supported).

[2015-06-29 12:32] acka47 opened #182 "Support HTTPS in lobid"
Requested on 2015-06-26 by T. Scheffler who is working on the [MIR repository software](http://www.mycore.de/mir/content/index.xml). They use lobid GND API for lookup of GND persons.

If we need some advice we can ask @jschnasse who has some experience with HTTPs for hbz services.

[2015-06-29 12:42] dr0i commented on #174
Put `ulimit -l unlimited` into elasticsearch start script in init.d.
Restarted. urled `mlock` , all `true`.
Closing.

[2015-06-29 12:42] #174 closed

[2015-06-29 13:55] acka47 commented on #180
We should also think about implementing this via collections – similar to [NWBib](http://lobid.org/resource/NWBib) and [edoweb](http://lobid.org/resource/Edoweb) – and `isPartOf` relations.

I talked to @jschnasse about this requirement. It is probably better to clarify the use case this adjustment should serve and then decide on how to implement it.

[2015-06-29 14:32] acka47 commented on #180
It's not that easy to find other examples with a GND ID in `078`. Here are two more.

http://lobid.org/resource/HT017738056/about?format=source, snippet:

[code]

http://lobid.org/resource/HT017901785/about?format=source, snippet:
[code]

BTW, I just tried ten resources six of which had a GND ID in 078: [HT018389798](http://lobid.org/resource/HT018389798/about?format=source), [HT018389903](http://

[2015-06-30 09:40] acka47 commented on #180
Assigning @jschnasse to clarify the user story for this one.

[2015-06-30 11:55] acka47 opened #183 "t status"

[2015-06-30 12:33] acka47 commented on #183
Oups, dunno what happened there. Closing.

[2015-06-30 12:33] #183 closed

[2015-06-30 12:41] jschnasse commented on #180
forget it. i will implement it by myself using the mabxml.

[2015-06-30 12:41] #180 closed

[2015-06-30 13:10] acka47 commented on #54
We already include the Formschlagwort `Karte` as `dct:medium bibo:Map` (see #270) and are including `Aufsatzsammlung`/`editedVolume`s (#271).

[2015-06-30 13:28] dr0i commented on #164
Deployed to test. And production.

[2015-06-30 13:29] #164 closed

[2015-07-01 14:28] acka47 commented on #160
This issue has the same underlying problem as #155. It's not that bad here as the bigger parts of the RDF description overwrite the smaller part (i.e. the `hasFormat` triple).

[2015-07-01 15:00] dr0i commented on #155
Since #139 the 1 billion triples are no more collected and sorted (using hadoop) and then transformed into their Json-LD record. Now, if at some point of the transformation a record is identified a Json-LD is generated, resulting in some Json-LD records having the same ID (e.g. when generating the reziprok data of the cataloged `isPartOf` into `<isPartOfUri> <hasPart> <hasPartUri>`), resulting in

[2015-07-01 15:37] dr0i commented on #155
The workaround is to not create the reziprok data thus having no conflicting records.

[2015-07-01 22:22] jschnasse opened #184 "hbz01 missing"
http://lobid.org/resource/HT018666061/about?format=source
replies
[hbz01] missing

[2015-07-02 08:47] acka47 opened #185 "Type filter doesn't work for /subject endpoint"
See e.g. the example from the API documentation: http://lobid.org/subject?name=Heinsberg&type=http://d-nb.info/standards/elementset/gnd%23BuildingOrMemorial

[2015-07-02 08:50] acka47 commented on #185
Also, as the /person endpoint depends on type filtering it doesn't work at all. See the examples from the API doc:
- http://lobid.org/person?id=118580604
- http://lobid.org/person?name=Johann+Sebastian+Bach
- http://lobid.org/person?q=%22Bruder+von%22

[2015-07-02 08:59] dr0i commented on #155
Deployed to staging and production. Please have a look, also @jschnasse .

[2015-07-02 09:03] dr0i commented on #160
After resolving #155 this issue is expected behaviour.
I would like to have it open, though, with low priority.
Someday the missing data resulting from resolving #139 should be made available again, I would say.

[2015-07-02 09:08] acka47 commented on #160
+1. Assigning this to you, as I won't resolve it.

Latest, when we implement #1 .

[2015-07-02 09:25] acka47 commented on #155
+1.

[2015-07-02 09:28] dr0i commented on #167
Sorry folks, the pull request was not merged. Don't know what was going here.

[2015-07-02 12:24] dr0i commented on #155
@jschnasse  vocally  +1ed. Thus closing.

[2015-07-02 12:24] #155 closed

[2015-07-03 07:36] dr0i commented on #185
Deployed to staging.

[2015-07-03 07:59] acka47 commented on #185
+1

[2015-07-03 08:31] dr0i commented on #185
Deployed to production, closing.

[2015-07-03 08:31] #185 closed

[2015-07-03 08:37] dr0i commented on #185
Note:
After resolving  #520 (updating an outdated index profile) it appeared that the index profile for the gnd was not correct in part.

[2015-07-03 10:02] dr0i commented on #184
Background: this week we had an issue in our ES cluster (disk full) which is now fixed. I had to remove the hbz01 index.
Reindexed the hbz01 AlephMabXml source. Closing.

[2015-07-03 10:02] #184 closed

[2015-07-03 15:40] dr0i commented on #44
Deployed to staging.

[2015-07-06 08:36] acka47 commented on #44
+1

[2015-07-06 09:28] dr0i commented on #167
Deployed to production after merging into master. Closing.

[2015-07-06 09:28] #167 closed

[2015-07-06 09:44] dr0i commented on #156
@acka47 Have a look , seems to be resolved with #139 .

[2015-07-06 09:48] dr0i commented on #44
Deployed to production, closing.

[2015-07-06 09:48] #44 closed

[2015-07-06 11:56] dr0i opened #186 "Update play to -2.4.2- 2.3.10"
Due to memory leak issues it seems best to update play to the moset recent version.
This ticket is fundamental for #176.

[2015-07-06 12:06] acka47 commented on #156
Is indeed resolved. Closing

[2015-07-06 12:06] #156 closed

[2015-07-06 12:43] acka47 opened #187 "Add monthly overview to lobid stats"
Currently we only have one row for each day but no overview over visitors and hits per month.

[2015-07-06 12:44] fsteeg commented on #186
Unless you're sure about the memory issue being caused and fixed by Play itself, I'd be careful about updating. New Play versions change API and other subtle things. The second digit in Play version numbers actually indicates major changes, unlike most other version numbers.

[2015-07-07 14:05] dr0i commented on #187
Updated goaccess to 0.9.2. Now having this overall statistics view at the top.

[2015-07-07 14:29] acka47 commented on #187
+1. Closing.

[2015-07-07 14:29] #187 closed

[2015-07-09 13:46] dr0i opened #188 "Memory leak in Play 2.3.4"
Play's `Promise` is memory leaking under certain circumstances. This in conjunction with delivering loads of data (> 1GB, see #176). It's an other issue as the one described [here](https://stackoverflow.com/questions/28866981/how-to-chunk-responses-in-play-without-running-out-of-memory), and i haven't found it documented anywhere yet. Further investigations are needed, more heap memory analyzing w

[2015-07-09 15:06] acka47 opened #189 "subjectLabel isn't searched with ?subject query"
See e.g. http://lobid.org/resource?subject=wiedert%C3%A4ufer&set=nwbib which should deliver ~158 hits.

One resource that has "Wiedertäufer" as `subjectLabel` but isn't in result list is http://lobid.org/resource/HT018392783.

[2015-07-09 15:59] dr0i commented on #169
We forgot to update the API as well, thus leading to hbz/nwbib#117.

[2015-07-10 11:02] dr0i commented on #106
Bummer. Had to adjust the test lobidResource.searchViaModel() since http://lobid.org/person?id=118554808 has multiple entries for contributors and only the first can be hit, not `Hundt, Theodor` or `Hundt, Josef K.`.

[2015-07-10 14:08] dr0i commented on #189
Deployed to staging. Delivers 161 hits.

[2015-07-10 14:41] acka47 commented on #189
Looks good. +1

[2015-07-13 08:27] dr0i commented on #189
Deployed to production, closing.

[2015-07-13 08:27] #189 closed

[2015-07-13 08:36] dr0i commented on #169
Reclosing due to resolving hbz/nwbib#117.

[2015-07-13 08:36] #169 closed

[2015-07-13 08:41] dr0i commented on #186
Fiddled myself trying to update to 2.4 but failed utterly.

[2015-07-13 13:59] dr0i commented on #186
This ticket may solve #188.
Note the last commit, updating activator to 1.3.5: this update seems to reduce memory leaking very much! So, the update to play 2.4.x may not be that important at all.

[2015-07-14 09:56] dr0i commented on #176
Deployed to production.
For usage explanation have a look at the [api overview page](http://lobid.org/api) -> Bulk Downloads.
The result is now reproducible ever the same, and it's fast. Would be even much faster zipping the data but leave that for now as it is.
Comments or questions are of course welcome.
Closing the issue.

[2015-07-14 09:56] #176 closed

[2015-07-14 12:41] dr0i opened #193 "Collection and team not rendered in html"
The response content type is wrongly `text/plain` even when provided as `rdfa`. Thus a browser don't render the html.

See http://lobid.org/team/ap , http://lobid.org/resource/RPB/about etc.

[2015-07-14 12:47] dr0i commented on #193
Deployed to staging.

[2015-07-15 07:39] acka47 commented on #193
+1. Closing, as this is already deployed to production.

[2015-07-15 10:04] dr0i commented on #193
Unfortunately this breaks e.g. when using the `scroll`parameter , see #176.

[2015-07-15 14:17] dr0i commented on #176
A quick note: the last commit fixes a bug shortly introduced after closing this issue.

[2015-07-15 17:44] dr0i commented on #103
Deployed to staging.

[2015-07-16 15:25] dr0i commented on #193
Fix deployed to production, closing.

[2015-07-16 15:25] #193 closed

[2015-07-16 15:45] dr0i commented on #82
Seems to be solved with #122. @acka47 please ACK and close if +1.

[2015-07-16 16:01] dr0i commented on #144
This issue seems to be resolved. @acka47 please have a look, too.

[2015-07-16 21:49] acka47 commented on #144
+1. Closing.

[2015-07-16 22:02] acka47 commented on #82
ACK. Closing.

[2015-07-16 22:03] #82 closed

[2015-07-17 07:46] dr0i commented on #173
Deployed to production, closing.

[2015-07-17 07:46] #173 closed

[2015-07-17 09:45] acka47 commented on #103
+1. Works for /organisation, /resource and /subject.

[2015-07-17 10:11] dr0i commented on #103
Deployed to production.
Thx @nichtich for the bug report.

[2015-07-17 10:11] #103 closed

[2015-07-29 15:16] fsteeg commented on #37
Deployed to staging, see: http://test.lobid.org/resource?id=HT002189125

[2015-08-03 09:08] acka47 commented on #37
Looks good. However, comparing to http://lobid.org/resource?id=TT000075751&format=source, the XML attributes are sorted differently and syntax highlighting is missing. By now I think that a simple link to the source (as in NWBib)( might have been a better solution. But I will get accustomed to this and we will have to think about adapting the NWBib view for the whole lobid anyway so we shouldn't p

[2015-08-03 14:44] fsteeg commented on #121
Deployed to staging, using `corporation` as parameter name as agreed offline. See:

http://test.lobid.org/resource?corporation=Werkbund+NW
http://test.lobid.org/resource?corporation=http://d-nb.info/gnd/2172019-8
http://test.lobid.org/resource?corporation=2172019-8

[2015-08-04 09:02] #37 closed

[2015-08-04 11:16] acka47 commented on #121
+1

[2015-08-04 11:18] #121 closed

[2015-08-04 12:37] fsteeg commented on #186
I'd suggest we update to 2.3.10, the latest maintenance release for 2.3 instead.

[2015-08-04 13:13] dr0i commented on #186
+1

[2015-08-04 16:27] dr0i commented on #162
Deployed to staging using small test set.
Try e.g. `curl -L --header "Accept: application/ld+json" "http://test.lobid.org/resource?set=nwbib&scroll=20050401"`.

[2015-08-05 08:35] #186 closed

[2015-08-05 15:50] fsteeg commented on #136
This could be easily implemented using the `compactArrays=false` option while compacting our JSON-LD, but this has very broad effects, as all values will then be wrapped in arrays, even for fields that never have multiple values (like `issued`, or `hbzId`). This would break API users that process these fields as simple values. I would therefore prefer to switch to that in API 2.0 (https://github.c

[2015-08-10 14:35] acka47 commented on #182
We will go forward like this:

- [ ] get the SSL certificate
- [ ] implement https in https://github.com/hbz/lobid-organisations
- [ ] Implement https for GND API endpoint (http://lobid.org/subject and http://lobid.org/person)
- [ ] Implement https for NWBib
- [ ] Discuss how to and make a plan to switch to https in lobid-resources.

[2015-08-10 16:19] akuckartz commented on #182
:+1:

[2015-08-11 09:46] acka47 opened #209 "Set up Skosmos instance"
See https://github.com/NatLibFi/Skosmos/wiki/Installation. I want to use this for publishing a human-readable and browsable version of the SKOS concept schemes we created (NWBib, RPB as well as https://github.com/hbz/oerworldmap/issues/220).

Skosmos also provides an [API](https://github.com/NatLibFi/Skosmos/wiki/REST-API) that probably can be used for auto-suggest/completion in edit/search forms.

[2015-08-17 12:17] dr0i commented on #162
Deployed to staging and production. Closing.

[2015-08-17 12:17] #162 closed

[2015-08-18 11:51] acka47 opened #211 "Adjust @context URL"
The @context URL for lobid.resources must be changed from http://api.lobid.org/context/lobid-resources.json to http://lobid.org/context/lobid-resources.json. The current redirect gives an error in the JSON-LD playground, see e.g. http://tinyurl.com/pgwwaka.

[2015-08-18 14:12] dr0i commented on #209
For further installation, it seems that a `composer.json` must be created in the first place to define your project, see https://getcomposer.org/doc/04-schema.md :

    $ php composer.phar install --no-dev
    Composer could not find a composer.json file in /opt
    To initialize a project, please create a composer.json file as described in
    the https://getcomposer.org/ "Getting Started" sectio

[2015-08-19 06:49] dr0i opened #215 "Menu not showing when window size small"
In lobid.org the menu (home api contact about) disappears when the window is small (don't know, seems to be more than 640 pixels). Might be an issue using smarphones etc.

[2015-08-19 14:40] fsteeg commented on #211
Deployed to staging, see:
http://test.lobid.org/resource?id=HT002189125&format=full
http://tinyurl.com/pqshzfg

[2015-08-20 06:47] acka47 commented on #211
+1

[2015-08-20 08:46] fsteeg commented on #211
Reassigning for production deployment when staging has full data (for the switch).

[2015-08-20 11:48] dr0i commented on #211
Deployed to production, closing.

[2015-08-20 11:48] #211 closed

[2015-08-21 09:24] dr0i commented on #84
After discussion with @acka47 :
we should not use the subject endpoint (which yields i.a. non normalized data) but the resource endpoint. In the latter, we must provide an array of preferredNames . This can be done by:

a) create this array in addition
b) by providing a framed json-ld with the subjects as an array

Whilst b) may break the API (especially when json-ld is 'compact'ed ) we could begi

[2015-08-21 10:05] dr0i commented on #178
@acka47 see the diffs, e.g. https://github.com/lobid/lodmill/commit/9ce9052c069d6cc77965dfc60c066bc7321225fc#diff-f6a6eb684e027c0ab8bd2b12b15b19c6R3727

[2015-08-21 10:21] acka47 commented on #178
+1

[2015-08-24 08:55] acka47 commented on #209
There is a `composer.json` file in the Skosmos GitHub repository, see https://github.com/NatLibFi/Skosmos/blob/master/composer.json. Please use this one.

[2015-08-24 08:58] dr0i commented on #84
@acka47 @fsteeg and @dr0i discussed this today. We choose variant b).
This ticket is postponed until https://github.com/hbz/lobid-resources/issues/1 is solved.

[2015-08-24 14:17] dr0i opened #218 "Let restart play instances solely by monit"
Starting the play instances manually may omit the necessary parameters defined in configs used by monit, which may result in a loss of functionality (e.g. to low memory allocation thus making 'scroll' impossible).[EDIT: an incidence was reported by Werner Greßhoff).
Solution:
Restarts must solely be handled by 'monit'.

[2015-08-24 14:28] acka47 commented on #152
Ping @jschnasse. Let us know if you know more about the `w` in 051.

[2015-08-24 14:47] dr0i opened #220 "Put a note into http result when memory too low"
When the memory is too low (which would result in an incomplete result using the scroll parameter) a note should occur in the result about the memory being too low and the cancelation of  the query.

That note should appear but apparently it doesn't.
[EDIT: the note appears in ntriples, but not in rdf/xml. Incidence was reported by Werner Greßhoff]

[2015-08-24 15:53] akuckartz commented on #209
:+1:

[2015-08-25 06:24] dr0i commented on #209
Deployed to http://aither.hbz-nrw.de/skosmos/en/ .

[2015-08-25 06:28] dr0i commented on #178
Deployed to staging.

[2015-08-25 06:59] acka47 commented on #178
We will have to adjust the context for this. Will use the key "thesisInformation" for this.

[2015-08-25 07:52] dr0i opened #223 "Wrap an record tag around an rdf xml resource"
Reported by Werner Greßhoff:

Getting multiple records every rdf xml resource should be wrapped in a tag for easier parsing.

[2015-08-25 07:54] dr0i commented on #223
Maybe this contradicts #463? What do you think @fsteeg ?

[2015-08-25 08:38] acka47 commented on #209
We need the SKOS vocabularies in a triplestroe with SPARQL endpoint. Where can I load them?

[2015-08-25 09:13] dr0i commented on #178
Deployed context to staging.

[2015-08-25 09:47] dr0i commented on #218
Deployed to produiction, closing.

[2015-08-25 09:47] #218 closed

[2015-08-25 10:15] fsteeg commented on #223
Deployed to staging.

Standard request (no `scroll`), wraps into `<docs>`:

`curl -L --header "Accept: application/rdf+xml" "http://test.lobid.org/resource?q=ehrenfeld" > rdf.xml` `xmllint rdf.xml`
`rapper -i rdfxml rdf.xml`

`scroll` request, additionally wrapped into `<root>`:

`curl -L --header "Accept: application/rdf+xml" "http://test.lobid.org/resource?q=ehrenfeld&scroll=20100701" > rdf.xml`

[2015-08-25 11:10] acka47 commented on #136
+1

[2015-08-25 11:25] acka47 commented on #178
+1

[2015-08-25 11:26] dr0i commented on #178
Deployed to production, closing.

[2015-08-25 11:26] #178 closed

[2015-08-25 11:28] dr0i commented on #220
Deployed to production, closing.

[2015-08-25 11:28] #220 closed

[2015-08-25 12:47] dr0i commented on #223
Deployed to production. Let's wait what Werner says to this solution.

[2015-08-25 15:16] dr0i commented on #209
4store is running. DB is named 'skosmos'. Have a log in the process list:

    $ ps -ef | grep 4s

To import data, see http://4store.org/trac/wiki/ImportData.

[2015-08-27 06:39] dr0i commented on #223
We got an OK, thus closing.

[2015-08-27 06:39] #223 closed

[2015-08-27 08:31] dr0i commented on #209
Since there seems to be trouble using this 4store version and skosmos, we try fuseki. Fuseki is startet in a `screen` session:

    lod@aither:/opt/apache-jena-fuseki-2.3.0$ fuseki-server --update --loc=DB /ds

[2015-08-27 14:08] dr0i commented on #172
The moving has started, see https://github.com/hbz/lobid-resources/issues/1 . The new repo will be used by the upcoming lobid API 2.0 and shortly by [NWBib](https://github.com/hbz/nwbib), so it is to be expected that the old [lobid/lodmill repo](https://github.com/lobid/lodmill) will be still alive and active more some time in parallel to the new repo.
Closing this issue.

[2015-08-27 14:08] #172 closed

[2015-08-28 10:26] acka47 commented on #209
Closing this one. Made some more tickets regarding the specific concept schemes, see https://github.com/hbz/isced/issues.

[2015-08-28 10:26] #209 closed

[2015-08-31 09:19] jschnasse commented on #158
Any progress on this? +1 from me for getting this solved asap.

[2015-09-01 06:46] dr0i commented on #158
Deployed to staging, please have a look at e.g. http://test.lobid.org/resource/HT013208865/about .

[2015-09-01 07:32] dr0i commented on #158
@fsteeg will this have an impact on nwbib?

[2015-09-01 07:32] acka47 commented on #158
+1 from me

[2015-09-01 07:36] jschnasse commented on #158
+1

[2015-09-01 07:43] fsteeg commented on #158
Shouldn't be an issue in NWBib, and looks good: http://test.lobid.org/nwbib/HT013208865

[2015-09-01 12:58] dr0i commented on #158
Deployed to production, closing.

[2015-09-01 14:52] fsteeg opened #226 "Support multi value queries"
For https://github.com/hbz/nwbib/issues/97 and https://github.com/hbz/nwbib/issues/129 we need to support multi-value queries (logical AND) for:

- [x] `nwbibsubject`
- [x] `nwbibspatial`
- [x] `subject`
- [x] `medium`

We already support multi-value queries (logical OR) for:

- [x] `type`
- [x] `owner`

[2015-09-02 07:48] dr0i commented on #158
There are some unresolved issues, see hbz/nwbib#133. Reopening.

[2015-09-02 14:47] fsteeg commented on #226
Deployed to staging, see:

- http://test.lobid.org/resource?subject=4066438-7,4077548-3&format=full
- http://test.lobid.org/resource?nwbibspatial=K%C3%B6ln,M%C3%B6nchengladbach&format=full
- http://test.lobid.org/resource?nwbibsubject=http://purl.org/lobid/nwbib%23s706230,http://purl.org/lobid/nwbib%23s704042&format=full
- http://test.lobid.org/resource?medium=http://rdvocab.info/termList/RDACarri

[2015-09-03 08:04] acka47 commented on #226
Subject search also works with subject URIs, e.g. http://test.lobid.org/resource?subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4066438-7,http%3A%2F%2Fd-nb.info%2Fgnd%2F4077548-3&format=full

[2015-09-03 08:05] acka47 commented on #226
...as well as http://test.lobid.org/resource?subject=http://d-nb.info/gnd/4066438-7,http://d-nb.info/gnd/4077548-3&format=full

[2015-09-03 08:07] acka47 commented on #226
I assume the spatial search also works with URIs. Can't test it as there are probably not so much resources with double NWBib spatial notations and probably none of them in the test set.

[2015-09-03 08:09] acka47 commented on #226
I don't see the use of combining two medium types with AND. With the exception of "electronic resource" and "oline resource" there should be only one medium. IMO, an OR combination would make more sense in this case.

[2015-09-03 08:25] acka47 commented on #226
Will leave this open, as discussed offline. We are still not sure whether an AND combination for multi-value queries is the way to go. The optimal way would be to support AND and OR API-wise. This might best be implemented with API 2.0, though...

For now, @fsteeg will get to know the frontend possibilities and we will discuss this again at a later point.

[2015-09-03 08:45] fsteeg commented on #226
After some more discussion we agreed to use OR, mainly for being consistent across all facets (holdings only make sense with OR) and our current UX (facets do not narrow down themselves).

[2015-09-03 09:00] fsteeg commented on #226
Changed boolean logic to OR, deployed to staging, see:

- http://test.lobid.org/resource?subject=4066438-7,4077548-3&format=full
- http://test.lobid.org/resource?nwbibspatial=K%C3%B6ln,M%C3%B6nchengladbach&format=full
- http://test.lobid.org/resource?nwbibsubject=http://purl.org/lobid/nwbib%23s706230,http://purl.org/lobid/nwbib%23s704042&format=full
- http://test.lobid.org/resource?medium=http://r

[2015-09-03 09:26] acka47 commented on #158
In  https://github.com/lobid/lodmill/pull/714#issue-104474778 @dr0i wites:

 In the docs it's said about the 8* field:
"Segment Nichtstandardmaessige Nebeneintragungen (NE)"
(engl. roughly "Segment of non-standard side entries").
So we sadly can't treat these fields like the 1* fields.
As nobody knows for sure (aka "non-standard") what the entries mean
it can be said:
-- if subfield "b" exists it

[2015-09-03 11:56] acka47 commented on #226
+1

[2015-09-03 14:56] dr0i opened #228 "No (mabxml) source found"
In the play logs there are many WARNing like this one:

[code]

While in fact the source is available, try the `source` tab in  http://lobid.org/resource/HT013046158 and also http://lobid.org/resource?id=HT013046158&format=source .

[2015-09-04 08:01] fsteeg commented on #228
Hm, strange. I tried to reproduce this locally, but I don't get the message when I access HT013046158.

It also shouldn't be possible that the XML is both appended and the message is logged in the same request, see: https://github.com/hbz/lobid/blob/master/app/controllers/Application.java#L264

Maybe these messages are caused by separate requests that failed? Like a timeout or a non-200 response f

[2015-09-04 08:07] dr0i commented on #228
Are these timeouts logged so that this assumption can be proved?
Would be good to have these logs in the play logs, can't find them now.
I looked again and the issue remains.

[2015-09-04 08:39] dr0i commented on #158
The [Last commit](https://github.com/lobid/lodmill/commit/da53474ab10155b304748202e240f81743ef123e) takes care to not emit a `contributorLabel` when 800b is missing. I couldn't find a real world example so I constructed one, see the commit.

[2015-09-04 10:43] fsteeg commented on #228
Opened #229 for improved logging.

[2015-09-04 11:52] acka47 commented on #158
+1

[2015-09-04 12:08] dr0i commented on #228
Improved logging  in lobid-staging doesn't show any http status codes.

[2015-09-04 13:16] fsteeg commented on #228
Added status code, opened #230, deployed to staging.

[2015-09-04 14:19] dr0i commented on #158
Deployed to production, closing.

[2015-09-04 14:19] #158 closed

[2015-09-04 15:14] fsteeg commented on #228
Don't know what else to do, unassigning.

[2015-09-04 15:26] dr0i commented on #228
Short status-quo:

If the code you commited _is_ working, it must be another scenario.

[2015-09-07 07:29] fsteeg commented on #226
Deployed to production, closing. See:

- http://lobid.org/resource?subject=4066438-7,4077548-3&format=full
- http://lobid.org/resource?nwbibspatial=K%C3%B6ln,M%C3%B6nchengladbach&format=full
- http://lobid.org/resource?nwbibsubject=http://purl.org/lobid/nwbib%23s706230,http://purl.org/lobid/nwbib%23s704042&format=full
- http://lobid.org/resource?medium=http://rdvocab.info/termList/RDACarrierType/1

[2015-09-07 07:29] #226 closed

[2015-09-07 12:16] fsteeg opened #231 "Remove items from online resources"
See also: https://github.com/hbz/nwbib/issues/92

[2015-09-08 12:20] acka47 opened #232 "Provide lobid team overview page"
It would be nice to have an overview over people of the lobid team at http://lobid.org/team.

[2015-09-10 12:36] jschnasse opened #233 "Missing author in http://lobid.org/resource/HT018700720/about"
http://lobid.org/resource/HT018700720/about

Kathrin Otto.... is  listed under contributorLabels, but not as dc:contributor. under dct:contributor only authors with gnd-ids are listed.

[2015-09-10 12:48] dr0i commented on #233
See hbz/lobid#169 , where it is said :"Use lv properties instead of dc elements for lists of alternate labels."

[2015-09-10 12:55] acka47 commented on #233
To understand the use case behind this: Is your goal to list creator/contributor name for people without GND ID in your HTML presentations? I think this also wasn't possible before deploying #169, was it?

Adding `dc:creator/contributor` (note: DC elements) for these cases seems the way to go here.

[2015-09-10 14:56] dr0i opened #234 "Allow compression within apache"
Serving raw data compressed speeds up delivering considerably.
This is especially true when doing bulk downloads (see hbz/lobid#176).
Apache can be configured using DEFLATE and thus will serve the data compressed if the client is able to accept this encoding.
The costs reside on the clients (for decompressing) and on the apache server side (for compressing). But CPU power is not the bottleneck, so

[2015-09-10 14:59] dr0i commented on #188
Found that the problem _is_ indeed the faster building-of-data than serving-data.
With enabling  #234 the serving will have a ratio of 1/15 (using compressed NTriples) and thus the client getting the data is no more faster than the server delivering the data.
Closing this ticket.

[2015-09-10 15:09] jschnasse commented on #233
That is what I  would expect.
@dr0i  from my point of view hbz/lobid#169 is a hack to enrich your index data an therefore should use some proprietary lv vocab. hbz/lobid#169 is about alternate labels for authors. This issue is about authors without GND-ID. Lobid should express this two different things differently.

[2015-09-11 12:30] dr0i commented on #188
Reopening. My last comment is not true. There is a memory leak in `Promise` as this heap profiling done with MAT in eclipse shows:
![Uploading memoryLeakInPromise.jpg…]()
See also [this discussion](https://groups.google.com/forum/#!topic/play-framework-dev/58VZD-YXdJw):

With Promise being broken, #176 cannot be working for data > RAM of play instance.

[2015-09-11 14:15] dr0i commented on #234
Enabled in staging.
@acka47 @fsteeg @jschnasse do you experience any issues using your browsers (which accept gzip encoding by default) and your other tools querying test.lobid.org? If not I would want to enable this behaviour for whole lobid.org.

[2015-09-14 08:39] jschnasse commented on #234
Seems to work for edoweb. No browser errors experienced.

[2015-09-14 09:20] acka47 opened #236 "Add anchors to API page"
I'd like to have direct links to paragraphs in http://lobid.org/api. Please add the following anchors:

- http://lobid.org/api#pagination+limits+bulk-downloads
- http://lobid.org/api#content-negotiation
- http://lobid.org/api#auto-suggest-examples

[2015-09-14 10:34] fsteeg commented on #236
Deployed to staging:

http://test.lobid.org/api#pagination+limits+bulk-downloads
http://test.lobid.org/api#content-negotiation
http://test.lobid.org/api#auto-suggest-examples

[2015-09-14 11:12] acka47 commented on #236
+1

[2015-09-14 12:44] acka47 commented on #182
Here is a site to analyze the configuration of an SSL-Server: https://www.ssllabs.com/ssltest/analyze.html As soon as we have a first implementation we can use this for testing.

[2015-09-15 08:21] fsteeg commented on #236
Deployed to production, closing. See:

http://lobid.org/api#pagination+limits+bulk-downloads
http://lobid.org/api#content-negotiation
http://lobid.org/api#auto-suggest-examples

[2015-09-15 08:21] #236 closed

[2015-09-15 09:11] acka47 commented on #85
This is a duplicate of #489, thus closing and moving the examples there.

[2015-09-15 09:13] #85 closed

[2015-09-15 10:23] fsteeg commented on #12
We've implemented this quite a while ago, closing.

Sample query:
http://lobid.org/resource?q=Suhrkamp&type=http://purl.org/ontology/bibo/Series,http://purl.org/ontology/bibo/MultiVolumeBook&format=full

[2015-09-15 10:23] #12 closed

[2015-09-15 12:19] acka47 commented on #54
Closing, as we have included the most relevant "Formschlagwörter".

[2015-09-15 12:19] #54 closed

[2015-09-15 12:22] acka47 commented on #233
Duplicate of #154. Closing. (You did it again, @jschnasse.)

[2015-09-15 12:22] #233 closed

[2015-09-15 12:24] acka47 commented on #154
As @jschnasse and me agreed on in https://github.com/hbz/lobid/issues/233#issuecomment-139227458 and the comment thereafter, we will add names of authors without GND ID with dc elemens properties `dc:creator` and `dc:contributor`.

[2015-09-17 07:42] jschnasse opened #238 "519 Hochschulschriftenvermerk"
IMO, MAB 519 can be mapped to dc:publisher at least if 051 is  equal my||||.... What do you think?

[2015-09-17 07:43] jschnasse commented on #238
Example given: http://lobid.org/resource/HT018753058/about

[2015-09-17 08:14] dr0i commented on #234
Deployed to prodution, closing.

[2015-09-17 08:14] #234 closed

[2015-09-17 08:17] acka47 commented on #238
I don think we can do this as the actual publisher isn't indicated in 519 but the publication place and the publication date. As we can't reliably parse the information out of the one field, I would leave it this way.

Is this a request by ZB MED customers?

[2015-09-17 11:45] jschnasse commented on #238
Sorry, I overlooked that the data is already included under http://rdaregistry.info/Elements/u/P60489. This seems to be sufficient.

[2015-09-17 11:45] #238 closed

[2015-09-18 06:36] dr0i commented on #154
Deployed to staging.

[2015-09-18 07:31] acka47 commented on #154
Looks good re. this example for field 100 blank and `dc:creator`. Doesn't work for the example from the duplicate (maybe it wasn't a duplicate after all?)  issue #233 with field 108 b that should be mapped to `dc:contributor`:

Snippet from source of http://lobid.org/resource/HT018700720/about:

[code]

Expected outcome (snippet):

[code]

We also have to add the line `"contributorName": "http://p

[2015-09-21 07:10] dr0i commented on #154
Deployed to staging.

[2015-09-21 07:20] acka47 commented on #154
+1

[2015-09-21 09:30] dr0i commented on #154
Deployed to production, closing.

[2015-09-21 09:30] #154 closed

[2015-09-22 08:14] dr0i commented on #182
Deployed to http://test.lobid.org and https://beta.lobid.org/.

[2015-09-22 08:21] acka47 commented on #182
It works – but doesn't get the best grades, see https://www.ssllabs.com/ssltest/analyze.html?d=http%3A%2F%2Ftest.lobid.org%2F

[2015-09-22 08:31] acka47 commented on #182
Chromium says:

![test-lobid-ssl](https://cloud.githubusercontent.com/assets/160292/10013775/af271d14-6114-11e5-9e29-aac372680216.png)

I would rather have it looking like oerworldmap:

![oerworldmap-ssl](https://cloud.githubusercontent.com/assets/160292/10013785/c00dd230-6114-11e5-8114-ec26da75ac22.png)

This is ok for now and can be deployed as it suffices for the initial request by T. Scheffler

[2015-09-22 09:40] dr0i commented on #182
We could make `https` as default, not allowing `http` at all. This would it make easier to handle the vhost apache configs. But I would argue against that, especially because of the big downloads we provide, because caching is with `https` no more possible.
For the discussion a little bit of [context](https://security.stackexchange.com/questions/18853/why-arent-application-downloads-routinely-done

[2015-09-22 09:54] dr0i commented on #182
Deployed to production. @acka47 please ping `MIR repo`.

[2015-09-22 12:54] acka47 commented on #182
Did so. Closing.

[2015-09-24 09:24] acka47 commented on #148
We don't need to do this as the problem won't exist anymore after implementing API 2.0. Thus, closing.

[2015-09-24 09:24] #148 closed

[2015-09-28 13:15] jschnasse commented on #1
For Api 2.0 , I´d suggest another trick. It would be nice to always get a prefLabel as a side car to all occurrences of @id (in document AND in context) . The usage of prefLabel would give clients a simple, unified and intuitive way to access the index and to mock views on lobid data. It can also be useful for configuring the index (e.g. boosting prefLabel).
Some examples:

    in case of gnd-ids

[2015-09-29 08:35] jschnasse opened #242 "Mapping for reports"
Suggested rule:
If 'r' is the second letter in MAB 51 --> type of resource is http://purl.org/ontology/bibo/Report

Example:
http://lobid.org/resource/HT018297384/about?format=source

[2015-09-29 08:39] jschnasse opened #243 "Enhance Mapping on bibo:Proceedings"
Suggested rules:

if MAB51 begins  with mk --> map to http://purl.org/ontology/bibo/Proceedings

if MAB51 begins with ak --> map to http://purl.org/spar/fabio/ConferencePaper

[2015-09-29 11:09] jschnasse opened #244 "Remove birthDate from creator and contributor."
I'd suggest to remove the comma separated birth date from preferredName of gnd-authorities. It would be much better to have the birthdate in an extra triple like provided by dnb.

<http://d-nb.info/gnd/134268857> <http://d-nb.info/standards/elementset/gnd#preferredName> "..., 1953-"^^<http://www.w3.org/2001/XMLSchema#string> .

Example:
http://lobid.org/resource/HT018728844/about

[2015-09-30 13:07] dr0i commented on #109
This should be resolved with API 2.0, see hbz/lobid-resources#1.
As it is in no way important to solve this issue right now => closing this one.

[2015-09-30 13:07] #109 closed

[2015-09-30 13:25] acka47 commented on #244
We will do this. We chose this form as we thought that it would look like this in the Aleph OPAC but it doesn't.

@dr0i I guess we build the strings the same way for subjects and creators/contributors. Obviously, we have to change this as we don't want the birth/death year removed from the subject labels. See https://github.com/hbz/lobid/issues/145.

[2015-09-30 13:25] jschnasse commented on #109
Do not understand closing. Where is the corresponding ticket in API 2.0 ?

[2015-09-30 13:57] dr0i commented on #109
The subject chain will be there implicitly because of having an ordered list (while the order in the list reflects the position in the chain).

[2015-09-30 14:17] jschnasse commented on #244
We were told that it looks kind of rude to present the birth date of all ladies and gentlemen to everyone. We choose to present it only to the library staff (useful for individualisation) but not to the end user.

[2015-10-01 12:26] dr0i commented on #108
See 40b258aec5bba4715ef509b9b95486e35f737a73.

[2015-10-01 12:28] dr0i commented on #108
Deployed to staging.

[2015-10-01 12:31] acka47 commented on #108
+1

[2015-10-02 07:22] dr0i commented on #108
Deployed to production, closing.

[2015-10-02 07:22] #108 closed

[2015-10-05 14:52] jschnasse commented on #223
@dr0i asked me to put my observations to here. In rdf4j lib I get an error when consuming rdf+xml data from lobid (e.g. http://lobid.org/resource/HT017612594/about)
Cause of Error:
org.openrdf.rio.RDFParseException: <rdf:RDF> not allowed as property element [line 15, column 76]

Example in curl:
curl -H"accept: application/rdf+xml" http://lobid.org/resource/HT017612594/about

Example in rapper:
ra

[2015-10-14 06:32] jschnasse opened #248 "Where is http://lobid.org/person?id=1045950157"
http://lobid.org/person?id=1045950157
http://d-nb.info/gnd/1045950157/about/lds
https://portal.dnb.de/opac.htm?method=simpleSearch&cqlMode=true&query=idn%3D1045950157

[2015-10-14 06:46] dr0i commented on #248
That's not a person. See http://lobid.org/subject?id=1045950157.

[2015-10-14 07:55] #248 closed

[2015-10-14 09:58] jschnasse opened #249 "Wrong triple on http://lobid.org/resource/HT016048134"
I found this data attached to the resource
[code]

If you look at http://d-nb.info/gnd/16030343-6, this seems to be wrong.

[2015-10-14 10:14] acka47 commented on #249
We need to fix this (as well as https://github.com/lobid/lodmill/issues/735) asap. The problem here is the label (not the incorrect use of `preferredNameForThePerson`).

From the source (snippet):

[code]

Obviously, subfield `b` isn't taken into account in the transformation.

[2015-10-14 12:05] acka47 commented on #249
Another example is http://lobid.org/resource/HT016048134. We should concatenate subfields `k` and `b` with a period and space in between. E.g. "Bayern. Bayerisches Landesamt für Gesundheit und Lebensmittelsicherheit" in http://lobid.org/resource/HT016048134 and "Nordrhein-Westfalen. Ministerium für Inneres und Kommunales" in http://lobid.org/resource/HT016048134.

[2015-10-14 12:41] dr0i commented on #249
Ah, yeah I was to ask `Should fields be concatenated like in https://github.com/hbz/lobid/issues/179 ? Or has it nothing to do with it?`
Also, interesting documentation is https://wiki1.hbz-nrw.de/display/VDBE/GND-2+-+Neue+Unterfeldstruktur+in+BIB . `k` denotes the name of the corporation, `b` is the name of the subordinated corporation.

[2015-10-14 12:52] acka47 commented on #249
+1

[2015-10-14 15:19] jschnasse commented on #249
i hope everything works now. Please inform me as soon as index is ready.

[2015-10-14 20:21] dr0i commented on #249
No. `h` seems to be mostly acted as an location addendum to `k`, thus it was wrapped liked in `<b>`, not comma separated. Thus, with the new commit we  have the following precedence and structure:

`k <h>. b` , `k. b`, `k <h>`, `k`.

Hope this makes sense.

[2015-10-15 07:54] acka47 commented on #249
Looks good to me.

[2015-10-15 08:20] acka47 commented on #249
+1

[2015-10-15 08:28] dr0i commented on #249
Deployed tp production, closing.

[2015-10-15 08:28] #249 closed

[2015-10-15 11:54] dr0i commented on #244
Note: we assume that rudeness is kinda relative:
if you would be a *subject* of something (and not a *contributor* or *creator*), we leave the Lebensdaten in the data, see e.g. http://lobid.org/resource/HT015891797. Same goes true for subject chains.

[2015-10-16 08:11] dr0i commented on #244
Deployed to staging.

[2015-10-16 08:21] acka47 commented on #244
+1

[2015-10-16 09:25] jschnasse commented on #244
+1

[2015-10-16 10:34] dr0i commented on #244
Deployed to production, closing.

[2015-10-16 10:34] #244 closed

[2015-10-16 10:52] acka47 opened #251 "Special characters aren't encoded correctly in source tab"
See any lobid resource – e.g. http://lobid.org/resource/CT003006137/about – and click on the "source" tab.

[2015-10-19 10:20] fsteeg commented on #251
Fixed in http://beta.lobid.org/hbz01 which is used in lobid production.

See: http://lobid.org/resource/CT003006137/about

Opened https://github.com/hbz/mabxml-elasticsearch/issues/14 for a separate hbz01 staging instance.

[2015-10-19 11:16] acka47 commented on #251
+1

[2015-10-19 11:19] fsteeg commented on #251
Deployed to production, closing. See http://lobid.org/resource/CT003006137/about

[2015-10-19 11:20] #251 closed

[2015-10-19 13:14] acka47 commented on #179
Similar to #735 but for corporations.

[2015-10-19 13:14] acka47 commented on #179
Another example:

Source:

[code]

Current JSON:

[code]

Expected JSON:

[code]

[2015-10-20 10:21] fsteeg opened #252 "short.field result format broken"
See http://lobid.org/resource?id=HT002189125&format=short.fulltextOnline (sample link from doc page).

[2015-10-20 11:39] acka47 commented on #1
It would be great to support Triple Fragment Patterns with API 2.0. This would enable people to run SPARQL queries against lobid. There already exists a [Triple Pattern Fragments server for Java](https://github.com/LinkedDataFragments/Server.java).

[2015-10-20 12:25] fsteeg commented on #252
Deployed to staging:

See http://test.lobid.org/resource?q=*&format=short.fulltextOnline (linked from http://test.lobid.org/api)

[2015-10-20 13:48] acka47 opened #254 "Umlaut search not working with ?name parameter in /subject endpoint"
Reported by @Phu2 on twitter: https://twitter.com/herr_tu/status/656453267631665153:

[2015-10-20 13:51] acka47 opened #255 "Phrase search doesn't work for ?name parameter in /subject endpoint"
Examples: http://lobid.org/subject?name=%22Bo%CC%88ldl,%20Klaus%22

[2015-10-20 13:55] acka47 commented on #252
Why are there only six results shown?

[2015-10-20 14:12] Phu2 commented on #254
Das hat anscheinend etwas mit den Codierungen zu tun.
http://lobid.org/person?q=%22B%C3%B6ldl,%20Klaus%22 funktioniert nicht
http://lobid.org/person?q=%22Bo%CC%88ldl,%20Klaus%22 funktioniert

Das Gemeine ist, dass der Browser beides nach http://lobid.org/person?q="Böldl, Klaus" auflöst. Deshalb war ich vorhin auch so verwirrt ...

[2015-10-21 09:29] acka47 opened #256 "Embed JSON-LD in HTML with <script> tag and remove RDFa"
Currently, the JSON-LD is also part of the HTML in lobid.org. I suggest, simultaneously publishing it within the `<script type="application/ld+json">` tag and removing the buggy RDFa. What do you think?

[2015-10-21 09:33] acka47 opened #257 "Update data dump information"
Currently it reads on the [lobid about page](http://lobid.org/about):

As far as I know, we don't provide rdfmab anymore, or do we @dr0i ? We should adjust this accordingly. Also, it might make sense to link to http://lobid.org/api#pagination+limits+bulk-downloads for downloading bulk data.

[2015-10-22 06:15] dr0i commented on #257
+1

[2015-10-22 07:24] acka47 commented on #254
Wir könnten schauen, inwiefern API-seitig verschiedene Codierungen unterstützt werden können. Allerdings wüsste ich vorher gerne, ob das überhaupt nötig ist.

@Phu2  Meinst du, die API sollte verschiedene Codierungen unterstützen? Oder ist das derzeitige Verhalten für dich als API-Nutzer in Ordnung?

[2015-10-22 07:31] Phu2 commented on #254
Nein, für mich ist das ok so. Ich habe die API einer Kollegin über den Browser gezeigt, deshalb ist mir die unterschiedliche Codierung erst gar nicht aufgefallen.

[2015-10-22 07:36] acka47 commented on #254
Ok. Dann schließe ich das Ticket.

[2015-10-22 08:03] Phu2 commented on #254
Aber mit dem ?name-Parameter stimmt doch was nicht ...
http://lobid.org/person?name=%22Bo%CC%88ldl,%20Klaus%22 funktioniert nicht
http://lobid.org/person?q=%22Bo%CC%88ldl,%20Klaus%22 funktioniert

[2015-10-22 08:15] acka47 commented on #254
Achja. Diesmal war ich verwirrt. @fsteeg wird sich darum kümmern, wenn er wieder da ist.

[2015-10-22 12:56] dr0i commented on #257
Deployed to staging.

[2015-10-22 12:56] acka47 commented on #257
+1

[2015-10-22 13:05] acka47 commented on #161
Here is a list of  RDA record in lobid courtesy of @donboern: [rda-ids.txt](https://github.com/hbz/lobid/files/18519/rda-ids.txt)

[2015-10-22 13:13] acka47 commented on #161
Most of the reosurces listed in [rda-ids.txt](https://github.com/hbz/lobid/files/18519/rda-ids.txt) seem to be periodicals. Here is a print book: http://lobid.org/resource/HT018779822

[2015-10-22 13:17] acka47 commented on #161
What seems important to me for the start is field 419 with the pbulisher, publication place/date information.

Snippet from http://lobid.org/resource/HT018779822:

[code]

Snippet from http://lobid.org/resource/HT018772912:
[code]

[2015-10-22 13:47] dr0i commented on #257
Deployed to production, closing.

[2015-10-22 13:47] #257 closed

[2015-10-22 14:54] dr0i commented on #179
Data will be deployed tomorrow for testing.
Because I don't work tomorrow:
If you find staging good, go on and merge the open pull request. Data will then be ready on monday and I can go to deploy them to production then.
(if you feel bold or @fsteeg can help you, you may also want to switch staging index to production tomorrow. Hm. Ok this only takes 2 minutes, I will probably have a look tomorro

[2015-10-23 09:17] acka47 commented on #179
Looks great from my side: +1 @jschnasse What do you think?

[2015-10-26 07:50] fsteeg commented on #252
Default paging is 10 hits, not all have the specified field.

[2015-10-26 08:19] fsteeg commented on #254
Scheint ein Problem auf Datenebene zu sein, denn grundsätzlich klappts, z.B.:

http://lobid.org/person?name=böll
http://lobid.org/person?q=böll

Der konkrete Eintrag für den Böldl scheint komisch zu sein, siehe RDF-Serialisierungen hier:

http://lobid.org/person?q=Böldl

Statt normale Umlaute hat der offenbar Diakritika (die zudem bei uns in den RDF-Serialisierungen auf den falschen Buchstaben be

[2015-10-26 08:24] fsteeg commented on #256
+1

[2015-10-26 08:31] akuckartz commented on #256
Non-buggy JSON-LD is better than buggy RDFa.

[2015-10-26 08:34] dr0i commented on #252
But there is a wildcard query, must result in lot of hits. Why are then not shown the first 10 of them?

[2015-10-26 08:36] dr0i commented on #254
Die GND wird in ES einmal wöchentlich komplett neuindexiert, das ist der alte hadoop workflow.

[2015-10-26 08:41] jschnasse commented on #179
http://test.lobid.org/resource?author=36467-8 looks still wrong?

[2015-10-26 08:47] fsteeg commented on #252
That's the behavior we've always had: the result set (here: 10 hits) is filtered for the requested field. Yes, not very intuitive, and perhaps something we should change, but a different issue than this bug, which results in an exception in production.

[2015-10-26 08:51] jschnasse commented on #254
I do this java.text.Normalizer.normalize(rdfObject,Normalizer.Form.NFKC)) . How do you handle diacritics.

[2015-10-26 09:06] fsteeg commented on #254
Thanks Jan. We're currently not handling diacritics at all. Do you normalize before storing in the index?

[2015-10-26 09:15] dr0i commented on #179
The test instance is automatically switched to the newest index which is build weekly at the weekend, not having the commit merged thus not having the new data in it.
I switched the index alias back to index which reflects the commit.
So, please review anew.

[2015-10-26 09:52] jschnasse commented on #179
+1

[2015-10-26 09:56] dr0i commented on #179
Deployed to production, closing.

[2015-10-26 09:56] #179 closed

[2015-10-26 09:58] jschnasse commented on #254
Normalization is done directly after receiving the data from dnb - before indexing, yes. I'm a bit surprised that you do not handle diacritics at all. You must do it elsewhere since the bibliographic titles under lobid/resource look pretty normalized.

[2015-10-26 10:41] dr0i commented on #254
The `subject` endpoint is not specifically processed, in contrast to the `resource` endpoint.

[2015-10-26 11:09] fsteeg commented on #254
@dr0i That sounds like you'd know where and how to tackle this issue. Want to assign to yourself?

[2015-10-28 11:56] dr0i commented on #244
This should have give me the hint - it's about presenting , not so much about the underlying data. This should be an issue of the frontend, especially when considering the ridiculously amount of work and implementation of logik when doing e.g. lobid/lodmill#742.
This is not KIS.

[2015-10-28 12:43] jschnasse commented on #244
I think it is better to not include birth dates into 'preferredName'. I think also that it was a mistake to do so in first run. There are potentially many front ends but only one lobid. One work hour at lobid saves n*work hours at the clients.

[2015-10-28 12:59] dr0i commented on #244
Maybe , maybe not. E.g. you may miss birth dates when facetting. Point is, the data is in part concatenated , see e.g. lobid/lodmill#742, doing frontends job. Would be better to have multiple fields (like you said at the beginning of the ticket) and let the frontends doing whatever they want.

[2015-10-28 15:25] dr0i commented on #161
Does this mean that fields are ambiguous (i.e. e.g. `419-1c` is the publication date if it's RDA catalogued but something different when it's old MAB2? (In this case I can [see](https://github.com/lobid/lodmill/wiki/RDF-transformation-statistics-of-aleph-mab-xml-fields-of-the-fulldump) that that's not the case)).
_If_ there is no interference it's much simpler to configure the transformation rules

[2015-10-29 09:04] acka47 commented on #252
+1

[2015-10-30 08:34] acka47 opened #259 "Trailing slashes in URLs result in "Action not found""
Reported by @nichtich via mail on 2015-10-28.

Examples:

- http://lobid.org/nwbib/
- http://lobid.org/api/
- http://lobid.org/about/

[2015-10-30 10:56] fsteeg commented on #252
Deployed to production, closing. See http://lobid.org/resource?q=*&format=short.fulltextOnline

[2015-10-30 10:56] #252 closed

[2015-10-30 12:24] fsteeg commented on #259
Deployed to staging, see:

- http://test.lobid.org/nwbib/
- http://test.lobid.org/api/
- http://test.lobid.org/about/

[2015-10-30 13:03] acka47 commented on #259
+1

[2015-11-02 13:19] dr0i opened #262 "Bibo:doi is not searched when doing an idQuery"
`bibo:doi` is not searched doing an ID query.

[2015-11-02 13:25] PaulBorchert opened #263 "The person (http://d-nb.info/gnd/110200136) not found in index"
The Person Schödlbauer, Ulrich (http://d-nb.info/gnd/110200136) isn't listed in the autocompletion resultlist.(search for Schödlbauer, Ulrich). Only as a subject he's listed.

http://lobid.org/person?callback=jQuery1102008634846928990614_1446470408287&name=Sch%C3%B6dlbauer%2C+Ulrich&format=ids&_=1446470408288

[2015-11-02 13:32] fsteeg commented on #259
Deployed to production, closing.

See:

- http://lobid.org/nwbib/
- http://lobid.org/api/
- http://lobid.org/about/

[2015-11-02 13:32] #259 closed

[2015-11-02 14:00] dr0i commented on #263
Hm. It's even not found doing a person search using the ID (http://lobid.org/person?id=110200136) but it's there doing a subject ID search (http://lobid.org/subject?id=110200136).

[2015-11-02 14:28] dr0i commented on #263
The person is not of type `http://d-nb.info/standards/elementset/gnd#Person` but only of the more specific type `http://d-nb.info/standards/elementset/gnd#DifferentiatedPerson`. Seems to be an inferecing problem, again (is this generaslly broken? Will investigate).

[2015-11-02 14:36] dr0i commented on #263
Seems not to be a general issue, e.g. http://lobid.org/person?id=118580604 works fine. @acka47 or have I missed something obviously? At the moment I don't understand why inferencing seems to work sometimes, and sometimes not. You hav a clue?

[2015-11-03 08:50] acka47 commented on #161
@droi Could you please get the Aleph XML source of all files in rda-ids.txt](https://github.com/hbz/lobid/files/18519/rda-ids.txt) and put them in one file so that I can search for specific fields?

[2015-11-03 09:11] dr0i commented on #161
`for i in $(cat rda-ids.txt); do xmllint --format  "$i?format=source" >>  rda-ids.alephMabXmlPretty.xml; done`
You find that at http://lobid.org/download/rda-ids.alephMabXmlPretty.xml .

[2015-11-03 15:38] acka47 commented on #263
I took a look at this and also think there is the same underlying issue with the inferencing as for #84. Generally, resources with `gndo:DifferentiatedPerson` also have the type `gndo:Person`, see e.g. http://lobid.org/person?id=118696432.

Note, that _no inferencing at all_ is done for http://lobid.org/subject?id=110200136. Also, the generic type `gndo:AuthorityResource` is missing as well as the

[2015-11-04 09:48] dr0i commented on #262
Deployed to staging, test e.g. http://api.test.lobid.org/resource?id=10.1007/978-1-4020-8389-1.

[2015-11-04 09:55] acka47 commented on #262
+1

[2015-11-04 10:26] dr0i commented on #262
Deployed to production, closing.

[2015-11-04 10:26] #262 closed

[2015-11-04 10:27] dr0i commented on #262
Upd -sorry, not deployed yet. Just switched the index.

[2015-11-04 12:50] dr0i commented on #262
Deployed to production, closing.

[2015-11-05 10:58] acka47 commented on #242
Here's the MAB documentation for `051`:

[code]

Thus, we should also map an `r` as third and fourth letter to `http://purl.org/ontology/bibo/Report`.

[2015-11-05 11:09] acka47 commented on #242
We should also transform the "Formschlagwort" "Bericht" to this type as it is more fruitful than `051`.

For examples see http://lobid.org/resource?subject=Bericht (The first results have "Bericht" in `SubjectLabel` which comes from `710, ind2="1", subfield a`, e.g. http://lobid.org/resource/TT003280170 (snippet):

[code]

Or from `952 ind2="1", subfield x`, e.g. http://lobid.org/resource/TT050409

[2015-11-05 13:02] acka47 opened #266 "Take 064 into account for transformation to RDF"
Sub-issue of #161. The "Formschlagwörter" are in field 064 in RDA instead of being listed with the other subject headings.

**Examples**

http://lobid.org/resource/HT017458093 which has Formschlagwort ""Zeitung" but isn't typed as such yet:

[code]

http://lobid.org/resource/HT018781721 (snippet) which has Formschlagwort "Zeitschrift" and is already typed as `bibo:Journal`:

[code]

http://lobid.o

[2015-11-06 12:26] acka47 opened #267 "PreferredNameForThePerson occurs where not expected"
For example http://test.lobid.org/resource?id=HT018312899&format=full problem with work title - shouldn't have preferredNameForThePerson:

[code]

See also https://github.com/hbz/lobid/issues/144#issuecomment-105980315

[2015-11-09 07:32] dr0i commented on #72
Deployed to staging.

[2015-11-09 08:33] acka47 commented on #72
+1

[2015-11-09 09:08] dr0i commented on #72
Deployed to production, closing.

[2015-11-09 09:08] #72 closed

[2015-11-09 09:23] dr0i commented on #144
The problem reported in https://github.com/hbz/lobid/issues/144#issuecomment-105980315 is still/again a problem. Reopening ticket.

[2015-11-09 09:28] dr0i commented on #144
Uh, there is a ticket for this issue (hbz/lobid#267) so this one can stay closed.

[2015-11-09 09:28] #144 closed

[2015-11-10 11:11] fsteeg commented on #255
Probably related to https://github.com/hbz/lobid/issues/254.

[2015-11-10 11:13] fsteeg commented on #254
See also https://github.com/hbz/lobid/issues/255, which is probably related.

[2015-11-11 08:10] dr0i commented on #267
Deployed to staging.

[2015-11-11 08:49] acka47 commented on #267
+1

[2015-11-11 09:03] dr0i commented on #267
Deployed to production, closing.

[2015-11-11 09:03] #267 closed

[2015-11-19 09:48] jschnasse opened #269 "Missing 200b in HT018803762"
The [catalog resource for HT018803762](http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DHT018803762) contains
```200b |e Symposium zum Thema Erhaltung und nachhaltige Nutzung genetischer Ressourcen von Zierpflanzen - weitere Schritte zum Ausbau der Deutschen Genbank Zierpflanzen |d 2009 |c Bonn |9 HG00148342```

This seems to be not available at the corresponding lobid resource
http://lobid.org

[2015-11-19 10:00] acka47 commented on #269
It looks like this is a corporate body without GND ID. Obviously, we don't include them into lobid until now.

Possible solutions:

1. ZB MED cataloguers at this event to GND
2. We add a rule to the morph that we will have corporate bodies without GND in the data as we do for persons (see #154).

[2015-11-19 12:59] acka47 commented on #269
Further discussion moved for now to internal JIRA system: https://jira.hbz-nrw.de/browse/FRL-100

[2015-12-02 13:59] acka47 opened #270 "Create staging branch and implement automatic deployment"
We already had some discussions during the last weeks about reorganizing our development workflow. One crucial aspect of a new workflow would be automatic deployment when a pull request is merged.

We will implement this first for staging:
- [ ] Create a staging branch on GitHub for the staging system
- [ ] Automatically deploy staging branch when a pull request is merged in this branch

[2015-12-03 09:29] acka47 commented on #161
Speaking to publisso stakeholders, they want to work with roles of persons/corporations from RDA. We will have to consider these in the transformation. Note to self: Take a look at this and open a separate issue.

[2015-12-17 09:32] fsteeg opened #274 "Missing subjectChain parts"
Reported by stakeholders, see point 7 at https://wiki1.hbz-nrw.de/pages/viewpage.action?pageId=58949642

Assigning to @acka47 for some details.

[2015-12-18 10:11] acka47 commented on #274
The issues with "Themensuche" are poorly documented by stakeholders. I am aware of the following issue:

Subject headings in subject chains aren't built according to `preferredName`s of the subjects involved and aren't seperated correctly. Examples:
- [BT000172095](http://lobid.org/nwbib/BT000172095): `Lüpke | Senner | Pferd | Pferdezucht` instead of `Lüpke | Senner, Pferd | Pferdezucht`
- [HT0186

[2015-12-18 10:13] acka47 commented on #274
Re. missing subject heading parts, this is _not_ only a problem for subject chains but for subjects in general, see https://github.com/lobid/lodmill/issues/766.

[2015-12-18 13:58] acka47 commented on #269
As far as I can see, the content of subfield `e` isn't part of the RDF.

Source:

[code]

JSON:

[code]

@jschnasse I wonder why FRL stakeholders didn't complain about this...

[2015-12-21 12:49] acka47 commented on #84
For two of the three resources named in the description of this ticket, by now `preferredName` information exists. See http://lobid.org/subject?id=4023168-9&format=full & http://lobid.org/subject?id=4023168-9&format=full. Obviously, the resources that are affected do change.

[2015-12-30 10:06] fsteeg commented on #140
Deployed to staging, see: http://test.lobid.org/resource?name=Kunst&format=full

[2016-01-04 09:35] acka47 commented on #140
+1

[2016-01-05 14:59] acka47 opened #277 "Offer bibliographic data formats for reference management software"
See discussion in https://github.com/hbz/nwbib/issues/40 and [Philipp Zumstein und Matti Stöhr (2015): Zur Nachnutzung von bibliographischen Katalog- und Normdaten für die persönliche Literaturverwaltung und Wissensorganisation](http://ub-madoc.bib.uni-mannheim.de/39937/1/abitech-2015-0037.pdf) for background.

We should at least offer BibTeX and RIS. The mapping from our lobid data model will tak

[2016-01-06 10:41] acka47 opened #278 "Set up hbz URL shortener"
From https://github.com/hbz/nwbib/issues/40#issuecomment-169031473:

[2016-01-06 10:42] acka47 commented on #278
Questions to be answered:

- Do we need this? Who else needs this in the hbz?
- How should this be implemented?
- When?
- ?

[2016-01-06 11:05] acka47 commented on #278
For the [GitHub URL shortener](https://github.com/blog/985-git-io-github-url-shortener) the software [Guillotine](https://github.com/technoweenie/guillotine). We should also take a look at this.

[2016-01-07 09:15] acka47 commented on #256
We should best embed schema.org JSON-LD, see also https://github.com/hbz/nwbib/issues/99.

[2016-01-11 12:17] fsteeg opened #279 "Document deployment setup"
A bit like a current version of https://github.com/lobid/lodmill/blob/master/lodmill-ld/README.textile, but unter hbz/lobid, for the current workflows and setup, including Play instances, cron jobs, proxies, monit.

[2016-01-11 13:03] fsteeg commented on #140
Deployed to production, closing. See http://lobid.org/resource?name=Kunst&format=full

[2016-01-11 13:03] #140 closed

[2016-01-19 13:15] fsteeg commented on #63
We don't have a clear separation between searches and getting single resources in the API 1.x code. Supporting 404 on getting single resources would require some major refactoring. Giving 404 on empty searches too seems wrong and would break current API. Since we're phasing out the 1.x API anyway, I suggest we leave it as it is in 1.x and implement it correctly for 2.0, as it already is for the be

[2016-01-20 09:08] acka47 opened #283 "Querying by hbz ID with name parameter is broken"
@jschnasse reported on 20.01.2016 08:51:

[2016-01-20 09:09] acka47 commented on #283
@literarymachine clarified:

[2016-01-20 09:20] acka47 commented on #63
+1 Should we close this one then?

[2016-01-20 11:11] dr0i commented on #283
1. Cloned a new repo `lobid-hbz-issue-283` and started this as a lobid-api running on its own port. It uses the new index (with the new index profile to enable Umlaute etc.). This api is now used by nwbib.
2. Configured the productive lobid-api to use the index with the old index config so that `edoweb` can use their `name` parameter as used to.

*Both* indices are updated daily.
Now is time to ex

[2016-01-20 13:43] dr0i commented on #283
I assume the cause of the issue the usage of `"tokenizer" : "letter"` for the newly `german_analyzer` introduced with hbz/nwbib#208: it splits a search query like `"HT1234"` into `"HT" and "1234"`. As there are resources which has the `HT` as title, e.g. http://lobid.org/resource?id=HT015334072 a HT-query would always also hit the forementioned resource (amongst others).
Question is: is this token

[2016-01-20 13:49] literarymachine commented on #283
I can't find the issue any more (maybe it was in some old repo?), but in edoweb we needed a way to query for either `name` or `id`. via the same parameter. This is why back then you added `hbzID` when querying for `name`.

[2016-01-20 13:53] jschnasse commented on #283
in api 2.0 it will be sensible to switch to ?q endpoint and teach our users how to query a single field. At the moment ?name is best we can get from lobid without spoiling the internal url-like field identifiers.

[2016-01-20 14:01] dr0i commented on #283
I can't also but now you mentioned it: vaguely I remember , there was something !

[2016-01-20 15:50] dr0i commented on #283
Indexed small test set with

a) `tokenizer: letter`:
http://test.lobid.org/resource?name=HT017250960 gave *two* results (one with HT as title (i.e. http://lobid.org/resource/HT014211528 ))

b) `tokenizer: standard`:
Try http://test.lobid.org/resource?name=HT017250960 (which reveals *one* result) and try http://test.lobid.org/resource?name=HT (which reveals an other resource having title `HT`).

So

[2016-01-22 14:45] dr0i commented on #161
Updated rda-ids.alephMabXmlPretty.xml . Took as base DE-605-aleph-baseline-marcxchange-2016011515.tar.gz which reveals 16k resources as RDA. Hope this suffices.

[2016-01-25 07:53] #63 closed

[2016-01-25 08:41] fsteeg commented on #283
I don't think so, fix looks very good. I just used the wrong tokenizer when setting up the German analyzer.

[2016-01-25 10:32] dr0i commented on #283
Deployed to production, closing.

[2016-01-25 10:32] #283 closed

[2016-01-27 10:57] acka47 opened #285 "Install MyPads plugin for etherpad"
See https://git.framasoft.org/framasoft/ep_mypads for instructions.

(This is not really a lobid issue but there is no better GitHub repo for opening this issue.)

[2016-02-07 17:37] zuphilip commented on #277
How does the lobid data model look like?

If you would like to have [many export formats](https://www.zotero.org/support/dev/data_formats) and maybe even the formated citations from CSL styles, then one way to do that could be by using the [zotero (export) translators](https://github.com/zotero/translators) and citeproc-js. For that you would "only" have to map your data model with the zotero data

[2016-02-12 11:53] jschnasse opened #286 "Missing field MAB 405"
http://lobid.org/resource/HT016689928/about?format=source

[2016-02-15 14:11] acka47 commented on #286
From the [MAB documentation](http://www.dnb.de/SharedDocs/Downloads/DE/DNB/standardisierung/mabTitelBibliographischeDaten2001.txt?__blob=publicationFile):

[code]

[2016-02-16 15:33] acka47 opened #287 "Add content information from field 521 for RDA records"
Examples:

[HT018855200](http://lobid.org/resource?id=HT018855200&format=source):

[code]

[HT018855186](http://lobid.org/resource?id=HT018855186&format=source):

[code]

[HT018854850](http://lobid.org/resource?id=HT018854850&format=source):

[code]

[2016-02-19 12:29] acka47 opened #288 "Plan creation of docs for lobid API"
Several people have asked for documentation of the lobid APIs, the data structure and the field mapping from source data to the JSON provided by the API. With API 2.0 we will finally have to create docs for all of these. Questions for docs creation:
- Until when do we need what documentation?
- How will we write, publish and update the docs?
- Who is responsible for what?

[2016-02-19 12:30] acka47 commented on #288
Does anyone have experience with https://readthedocs.org/? This might be a good way of providing docs...

[2016-02-19 16:13] acka47 commented on #274
This will be resolved with https://github.com/hbz/lobid-resources/issues/29, thus is redundant. Closing.

[2016-02-19 16:13] #274 closed

[2016-02-22 08:02] fsteeg commented on #288
I don't have experience with  https://readthedocs.org/, but I don't think we need to (or should) use an external service for this. I'd imagine simple markup files (Textile or Markdown) checked into the repo(s). These can be viewed directly in the repo, or converted to HTML to be published elsewhere.

[2016-02-22 08:38] acka47 commented on #288
You are right. I thought you could host your own readthedocs but in fact you can't...

[2016-02-23 08:04] jschnasse opened #289 "Bring API 2.0 index data to /resources - as linked data"
Yesterday I noticed that API 2.0 will coin totally new URIs using http://lobid.org/resources instead of http://lobid.org/resource . What I like to suggest is to make the new URIs work for requests with ``GET accept: application/json`` this can be done immediately with a simple apache rewrite something like

`` /resources/$1   http://gaia.hbz-nrw.de:9200/resources/_all/$1/_source``

should do the t

[2016-02-25 09:10] dr0i opened #291 "Migrate to new web server"
Our web server, emphytos, uses old hardware and old software. It should be replaced.
- [x] bring on new server
- [x] setup os
- [x] copy configs (apache, ssl certificates ...)
- [x] test
- [x] switch IP

[2016-02-25 13:35] dr0i opened #292 "lobid-ZDB sameAs links are not working"
The sameAs links residing in lobid resources, see e.g. http://lobid.org/resources/ZDB1257-9 coming from http://lobid.org/resources/HT015082724, are not working. ZDB records are not extracted and not indexed .

Should we forget them alltogether? They don't serve any purpose anymore since the LOD zdb-services exists (e.g. http://ld.zdb-services.de/resource/1257-9), therefore: any ZDB id has its own

[2016-02-25 14:03] dr0i opened #293 "Api 2.0: Cannot lookup item URIs"
Item URIs, e.g. "http://lobid.org/item/HT012926727:DE-38:28A2398" taken from http://gaia.hbz-nrw.de:9200/resources/item/_search?q=HT012926727 , cannot be lookuped, e.g. http://gaia.hbz-nrw.de:9200/resources/item/HT012926727:DE-38:28A2398.

[2016-02-25 14:05] dr0i commented on #289
Thx, this is a nice low hanging fruit, yummy :) . Enjoy e.g. http://lobid.org/resources/HT013304490.

But:
- lobid-ZDB links are not working right now, see #292.

- Also, what is with our `items` endpoint - you provided a rewrite that would e.g. work with http://gaia.hbz-nrw.de:9200/resources/HT012926727:DE-38:28A2398 (which is not working, opened the issue #293), but it should better be http://ga

[2016-02-25 14:06] dr0i commented on #289
@jschnasse besides the two issues that have arised from this ticket, are you comfortable with the solution?

[2016-02-25 14:27] fsteeg commented on #289
The rewrite from http://lobid.org/resources/HT013304490 seems to got to:

http://gaia.hbz-nrw.de:9200/resources/resource/HT013304490

instead of:

http://gaia.hbz-nrw.de:9200/resources/resource/HT013304490/_source

[2016-02-25 18:58] acka47 commented on #292
Please get rid of them. It only caused a lot of problems for us and I never heard that anybody uses the URIs that are based on the ZDB ID. We minted the URIs in 2011, see this post: https://wiki1.hbz-nrw.de/display/SEM/HTTP+URIs+with+ZDB-IDs All the behaviour we described there does not work anymore and nobody cares. I believe API 2.0 is the right time to get rid of ZDB-ID-based URIs alltogether.

[2016-02-26 07:56] dr0i commented on #289
Fixed. Using

    RewriteRule ^/resources/(.*) http://gaia.hbz-nrw.de:9200/resources/_all/$1/_source [P]

[2016-02-26 10:21] dr0i commented on #292
Yes, would be better. But as there is no way to move issues to other repos in github I will it here.

[2016-02-26 13:42] jschnasse opened #294 "Use same delimiter for subjectOrder and contributorOrder"
Currently the list in subjectOrder is delimited by commas while contributorOrder uses pipes.

[2016-02-26 13:46] jschnasse commented on #294
ah sorry , subjectOrder is an array.

[2016-02-26 13:46] #294 closed

[2016-02-29 08:24] dr0i commented on #292
Deployed to staging, see http://lobid.org/resources-staging/HT001373475.

[2016-02-29 08:54] acka47 commented on #292
+1

[2016-03-01 08:05] #292 closed

[2016-03-03 09:12] jschnasse opened #295 "Strange dct:creator on HT018889713"
http://lobid.org/resource/HT018889713/about

data at dct:createl looks wrong to me. If taken directly from gnd it  is something like

Fachtagung der BZgA <2015, Essen>

at lobid it is

2015,Essen

[2016-03-03 09:23] acka47 commented on #295
Similar to https://github.com/hbz/lobid-resources/issues/37 which is about the same subfield (`e`) missing for corporate bodies as subjects. @dr0i, as you are currently working on this: Can you please also take into account corporate bodies as creators?

[2016-03-03 14:52] dr0i commented on #295
@acka47 right! Deployed small test set, see e.g. http://lobid.org/resources-staging/HT018889713

[2016-03-03 15:05] acka47 commented on #295
Looks good. +1 for data 2.0. The thing is, that @jschnasse needs it in data 1.0...

[2016-03-07 08:20] dr0i commented on #295
Deployed to staging, see e.g. http://staging.lobid.org/resource/HT018889713/about

[2016-03-07 08:29] fsteeg commented on #295
Looks good in nwbib-staging too: http://test.nwbib.de/HT018889713

[2016-03-07 08:33] acka47 commented on #295
+1

[2016-03-07 09:06] jschnasse commented on #295
+1

[2016-03-07 09:08] jschnasse commented on #289
+1

[2016-03-07 10:57] dr0i commented on #295
Deployed to production, closing.

[2016-03-07 10:58] dr0i commented on #289
Deployed to production, closing.

[2016-03-07 10:58] #289 closed

[2016-03-07 10:59] #295 closed

[2016-03-07 13:43] acka47 commented on #287
Sub-issue for #161 .

[2016-03-07 15:38] dr0i commented on #285
Done.

[2016-03-07 15:39] acka47 commented on #285
+1

[2016-03-07 15:39] #285 closed

[2016-03-07 15:51] dr0i commented on #293
Note: some URIs are working fine, e.g. http://gaia.hbz-nrw.de:9200/resources/item/HT012926727:DE-61-81:jurj354.m946.

[2016-03-09 10:26] jschnasse opened #296 "RDA - issue: get dc:publisher from MAB 419"
Bislang wurde an Unterordnungen das Feld 412 weitergegeben, so dass der dc:publisher auch an der Unterordnung belegt war.
Mit RDA wird dieselbe Information scheinbar in 419 abgelegt. Dies benötigen wir auch an den Unterordnungen.
Konkret:
In den Unterordnungen von HT018907246 benötigen wir die Info aus
419 	|a [Köln] |b ZB MED - Leibniz Information Centre for Life Sciences |c [2016]

[2016-03-09 14:38] jschnasse commented on #296
The field seems to be in mab source
http://lobid.org/resource/HT018907266/about?format=source

[2016-03-09 15:08] dr0i commented on #296
Eine konkrete Unterordnung ist http://lobid.org/resources/HT018907266 , und da fehlt das auch. `Ind2="2"` ist unkonfiguriert, ich füge das jetzt hinzu und lasse den Index neu bauen. Sollte Morgen gegen max 10:00 fertig sein.

[2016-03-09 15:12] dr0i commented on #296
@acka47 wir hatte uns drauf geeinigt nicht einfach Tickets aus ander Leuts `working` Spalte zu schnappen, siehe https://github.com/hbz/hbz.github.com/commit/f0b174eae65f17a72817931699ec079b5c907f4a .Dieberei!
Aber, wenn Du schon dabei bist: warum hast Du es Dir geschnappt, haste noch was?

[2016-03-09 15:16] acka47 commented on #296
Sorry, ich dachte nur, dass sei meine Aufgabe, mich um die Ursache zu kümmern. Freu mich aber, dass du dich drum gekümmert hast. Ich mach dann einfach später das review...

[2016-03-10 08:28] dr0i commented on #296
Gegen 10:00 Uhr wird's nicht fertig. Auf dem Server ist ein hoher load- die letzten 3% der Indexierung brauchen ca. 30% der Gesamtzeit. Ich schätze eher nach der Mittagspause.

[2016-03-10 10:50] dr0i commented on #296
Depleoyed to staging.See e.g. http://staging.lobid.org/resource/HT018907266

[2016-03-10 12:20] jschnasse commented on #296
+1

[2016-03-10 14:40] dr0i commented on #296
Deployed to production.

[2016-03-14 07:34] dr0i commented on #296
Also deployed to staging for data 2.0.

[2016-03-14 09:10] acka47 commented on #296
+1

[2016-03-14 09:39] dr0i commented on #296
Deployed to production, closing.

[2016-03-14 09:39] #296 closed

[2016-03-17 14:36] acka47 opened #297 "Switch to HTTPS as default and HTTPS URIS"
Currently we use `http` URIs in the RDF for lobid-resources and lobid-organisations 2.0 beta. We should discuss the following questions before going into production with 2.0:
1. Should we switch to https by default and redirect http to https?
2. If 1. shouldn't we also better use https URIs in the RDF?

[2016-03-31 14:47] acka47 commented on #288
Some days ago, I discussed with @jschnasse how one should document the transformation from MAB to JSON-LD. We came to the conclusion that an example-centered approach might be best and had the following idea:
1. Implement detail view from NWBib for lobid with some design adjustments (e.g. hbz coloring)
2. Choose 3-5 examples from our test cases to cover most resource types (monograph, journal, art

[2016-04-01 08:53] acka47 opened #298 "Add RPB Sachgruppen to RDF"
The notations are found in 700l alongside the notations from the [RPB classification scheme](http://purl.org/lobid/rpb). Example source (snippet) to be added as soon as the MAB XML is there again.

[2016-04-01 08:56] acka47 commented on #298
Do we need specific properties for RPB Sachgruppen and classification scheme? For NWBib we have http://purl.org/lobid/lv#nwbibsubject and http://purl.org/lobid/lv#nwbibspatial.

[2016-04-01 19:34] acka47 commented on #298
Depends on https://github.com/lobid/vocabs/issues/46.

[2016-04-04 08:27] jschnasse opened #299 "Missing HT018925962 and HT018925945"
Not ok:
http://lobid.org/resource/HT018925962/about
http://lobid.org/resource/HT018925945/about

ok:
http://lobid.org/resources/HT018925962
http://lobid.org/resources/HT018925945

[2016-04-04 09:00] fsteeg commented on #299
API 1.x is not up to date due to the quaoar cluster issues (see https://github.com/hbz/nwbib/issues/302).

Data 2.0 is on a different machine, seems to be up to date.

[2016-04-06 08:19] fsteeg commented on #299
I've indexed the updates that were missing due to the cluster issues:

http://lobid.org/resource?id=HT018925962&format=full
http://lobid.org/resource?id=HT018925945&format=full

Same for sources:

http://lobid.org/resource?id=HT018925962&format=source
http://lobid.org/resource?id=HT018925945&format=source

Other missing resources should be present too. Assigning to @jschnasse for review.

Some not

[2016-04-06 19:24] acka47 commented on #299
I came across entry HT001401787 where the JSON and the source don't describe the same title:

See http://lobid.org/resource?id=HT001401787&format=full vs. http://lobid.org/resource?id=HT001401787&format=source.

I don't know whether this has anything to do with this issue. If not, we need to open a new one.

[2016-04-07 08:02] fsteeg commented on #299
Completely different titles? They (now) are both "Westfälische Bibliographie zur Geschichte, Landeskunde und Volkskunde". Could that have been a temporary issue? Or am I missing some detail?

[2016-04-07 08:15] acka47 commented on #299
Strange. I swear these were different titles yesterday. Obviously, this was a temporary issue then.

[2016-04-12 12:07] fsteeg opened #300 "Update Elasticsearch version"
We're on the oldest version of Elasticsearch that is still supported (1.3.x). It's high time to start work on updating our servers. I suggest we use this as an umbrella ticket for incremental updates of individual lobid services:
- [x] Update hbz01 Elasticsearch version: https://github.com/hbz/mabxml-elasticsearch/issues/25
- [x] Update lobid-organisations Elasticsearch version: https://github.com

[2016-04-14 07:53] fsteeg opened #301 "Missing resources"
Reported by @aquast.

These resources, cataloged on 20160411, are missing:

http://lobid.org/resource?id=HT018937520
http://lobid.org/resource?id=HT018937543
http://lobid.org/resource?id=HT018937743
http://lobid.org/resource?id=HT018938105

Also missing in data 2.0:

http://lobid.org/resources/HT018937520
http://lobid.org/resources/HT018937543
http://lobid.org/resources/HT018937743
http://lobid.or

[2016-04-14 08:20] fsteeg commented on #301
Indexed updates from 20160411 into staging:

`hduser@weywot1:/home/hduser/git/lodmill/lodmill-rd/doc/scripts/hbz01$`
`bash -x startHbz01ToLobidResources.sh master /files/open_data/open/DE-605/mabxml/DE-605-aleph-update-marcxchange-20160411-20160412.tar.gz lobid-resources-staging NOALIAS quaoar2.hbz-nrw.de quaoar exact`

Resources now available in staging:

http://test.lobid.org/resource?id=HT01893

[2016-04-14 08:34] fsteeg commented on #301
Fixed in production:

http://lobid.org/resource?id=HT018937520
http://lobid.org/resource?id=HT018937543
http://lobid.org/resource?id=HT018937743
http://lobid.org/resource?id=HT018938105

Was caused by a single missing entry for the updates on 20160411 in `hduser@weywot1:/home/hduser/git/lodmill/lodmill-rd/doc/scripts/hbz01/toBeUpdateFilesXmlClobs_afterBasedump.txt`, probably caused by the recent c

[2016-04-14 09:03] fsteeg commented on #301
Indexed missing updates into data 2.0:

`hduser@gaia:/opt/hadoop/git/lobid-resources`
`bash -x startHbz01ToLobidResources.sh master /files/open_data/open/DE-605/mabxml/DE-605-aleph-update-marcxchange-20160411-20160412.tar.gz resources NOALIAS gaia.hbz-nrw.de lobid-gaia exact`

Resources now available in data 2.0:

http://lobid.org/resources/HT018937520
http://lobid.org/resources/HT018937543
http:/

[2016-04-14 09:03] #301 closed

[2016-04-14 10:07] jschnasse opened #302 "Include names of corporate bodies without GND ID"
http://lobid.org/resource/TT002234042
http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DTT002234042

http://lobid.org/resource/TT002234205
http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DTT002234205

http://lobid.org/resource/TT002234167
http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DTT002234167

http://lobid.org/resource/TT002234205
http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3DT

[2016-04-14 10:09] jschnasse commented on #302
seems all TT* ids are effected

[2016-04-14 11:30] acka47 commented on #302
These are all names of corporate bodies without GND IDs. Nonetheless, they should at least appear in the `nameOfContributingCorporateBody` field – which they don't do. They are not taken into account in data 2.0 as well, see e.g. http://lobid.org/resources/TT002234042

@jschnasse Would it be ok for you if we only resolved this in data 2.0? Or do you need it from the production API?

[2016-04-14 11:50] #299 closed

[2016-04-14 11:56] jschnasse commented on #302
data 2.0 will be sufficient!

[2016-04-14 12:51] acka47 commented on #277
Thanks for the help, @zuphilip. We are curently not working on this but plan to look into this deeper later this year. We might then approach you with some specific questions.

[2016-04-14 19:45] acka47 opened #303 "Fix stats"
Since the beginning of the year we don't have web access stats anymore. Especially for nwbib.de they would come handy.

[2016-04-19 13:03] acka47 commented on #302
In the current 2.0 morph we don't take into account 200-1.a at all, see [lines 832-922](https://github.com/hbz/lobid-resources/blob/2823082f4879750418050e58c0679c9263cb43a0/src/main/resources/morph-hbz01-to-lobid.xml#L832-L922).

[2016-04-19 13:04] acka47 commented on #302
#154  is the corresponding ticket where we worked on adding persons without GND IDs into the RDF.

[2016-04-19 13:06] acka47 commented on #269
This was fixed by adding a GND ID to the corporate body, see also https://jira.hbz-nrw.de/browse/FRL-100. Closing. For adding names of corporate bodies without GND ID to the RDF we have #302 .

[2016-04-19 13:06] #269 closed

[2016-04-19 13:13] acka47 commented on #302
https://github.com/hbz/lobid-rdf-to-json/issues/17 is the corresponding ticket for persons without GND ID in API 2.0.

[2016-04-21 11:32] acka47 commented on #302
As discussed offline, we will concatenate GND URIs (morph variable `@creatorCorporateBodyId` – if existing) and names of corporate bodies without GND ID (not existing in morph yet) in the same order as in source to the `contributorOrder` string whoch currently already holds person IDs and names.

An example with person URIs and a string [HT018700720](http://lobid.org/resources/HT018700720) (snippe

[2016-04-21 15:38] fsteeg commented on #302
Deployed to small test set, see:

http://lobid.org/resources-small?q=hbzId:TT002234042
http://lobid.org/resources-small?q=hbzId:TT002234205
http://lobid.org/resources-small?q=hbzId:TT002234167

[2016-04-22 08:05] acka47 commented on #302
The PR implements currently implements what I wrote in https://github.com/hbz/lobid/issues/302#issuecomment-212873147 and will suffice for presentation purposes. As I wrote in https://github.com/hbz/lobid/issues/302#issuecomment-209889538, the strings are also missing in `contributingCorporateBodyLabel` which is used for querying – at least by NWBib. @jschnasse: Do you also search via the `contrib

[2016-04-22 08:22] jschnasse commented on #302
I use only contributorOrder from data 2.0. Testset looks fine for me.

[2016-04-22 08:28] acka47 commented on #302
+1 I forgot that nobody uses API 2.0 for searching anyway, thus we don't need no further adjustments here. (I don't know how many of these corporate bodies without GND ID exist and whether we should make them searchable. If yes, we would have to do it in production.)

[2016-04-22 09:13] fsteeg commented on #302
Will be deployed as part of full index build over the weekend.

[2016-04-25 08:45] fsteeg opened #304 "Fix weekly full index creation"
Weekly full index creation failed due to changes in server infrastructure we depend on. Affects API 1.x and data 2.0.

[2016-04-25 08:45] fsteeg commented on #302
Deployment as part of weekly full indexing failed, see https://github.com/hbz/lobid/issues/304

[2016-04-25 12:02] fsteeg commented on #304
Original issue seems to be failing download of latest baseline dump from persephone in `gaia:/opt/hadoop/cron/copyNewestFullDump.sh` which is called from `hduser@weywot1` crontab (can't connect via SSH, maybe a missing key or account on the new persephone system).

Manually downloaded to `gaia:/files/open_data/open/DE-605/mabxml` with `wget http://index.hbz-nrw.de/alephxml/export/baseline/20160423

[2016-04-26 06:59] acka47 opened #305 "Resources missing"
Reported by Publisso customer on 2016-04-26:

[2016-04-26 07:20] fsteeg commented on #305
API 1.x fixed via switch to yesterdays manual full index (see https://github.com/hbz/lobid/issues/304):

http://lobid.org/resource/HT018950716
http://lobid.org/resource/HT018950768
http://lobid.org/resource/HT018950827
http://lobid.org/resource/HT018950840
http://lobid.org/resource/HT018951042
http://lobid.org/resource/HT018951067

Sources still missing:

http://lobid.org/hbz01/HT018950716
http://

[2016-04-26 07:56] fsteeg commented on #305
Sources fixed:

http://lobid.org/hbz01/HT018950716
http://lobid.org/hbz01/HT018950768
http://lobid.org/hbz01/HT018950827
http://lobid.org/hbz01/HT018950840
http://lobid.org/hbz01/HT018951042
http://lobid.org/hbz01/HT018951067

[2016-04-26 08:34] acka47 commented on #298
Example source from test file [HT018895767](http://lobid.org/hbz01/HT018895767) (snippet):

[code]

I suggest adding a specific RPB property (`http://purl.org/lobid/lv#rpbsubject`) for listing entries from both schemes. In this case it would look like this (for API 2.0):

[code]

@jschnasse @aquast Is this a good solution?

[2016-04-26 08:35] acka47 commented on #298
Another question: Would it be enough to have it in data 2.0?

[2016-04-26 08:43] fsteeg commented on #305
Data 2.0 fixed:

http://lobid.org/resources/HT018950716
http://lobid.org/resources/HT018950768
http://lobid.org/resources/HT018950827
http://lobid.org/resources/HT018950840
http://lobid.org/resources/HT018951042
http://lobid.org/resources/HT018951067

It looks like this was a cascaded error caused by the failed full indexing (https://github.com/hbz/lobid/issues/304), on which the subsequent update

[2016-04-26 09:08] acka47 commented on #305
+1

[2016-04-26 09:09] fsteeg commented on #302
Deployed to beta, closing. See:

http://lobid.org/resources/TT002234042
http://lobid.org/resources/TT002234205
http://lobid.org/resources/TT002234167

[2016-04-26 09:09] acka47 commented on #305
Closing.

[2016-04-26 09:09] #305 closed

[2016-04-26 09:23] fsteeg commented on #304
Indexing worked and JP confirmed to use http://index.hbz-nrw.de/alephxml/export/

Next: set up baseline downloads via HTTP in server setup starting from crontab for `hduser@weywot1`

[2016-04-26 11:46] fsteeg commented on #304
Adding script changes below as affected script is not under version control.

Replaced the old content of `gaia:/opt/hadoop/cron/copyNewestFullDump.sh`:

[code]

With new content:

[code]

And changed crontab entry to redirect output to a log file:

[code]

Tested trigger from crontab for `hduser@weywot1`, closing.

[2016-04-27 07:35] acka47 commented on #298
I just talked to @jschnasse and he needs it in 1.0. I will start with implementing it for 2.0, though.

[2016-04-28 13:12] acka47 commented on #298
When https://github.com/hbz/lobid-resources/pull/78 we have implemented the changes for API 2.0. What's missing is lobid 1.0 where edoweb actually needs the changes. Assigning @fsteeg to implement this for API 1.0.

[2016-04-28 14:01] acka47 opened #306 "Create value propositions/pitches for lobid"
We got feedback from people in the hbz library network that they don't get what lobid is actual about and what they can get from it. As we think, this could better be explained and communicated, we plan to have some kind of marketing workshop in July or latest September.

[2016-04-29 11:17] acka47 opened #307 "Confusing colon in some subject chains"
Working on https://github.com/hbz/nwbib/issues/317 @fsteeg and me noticed some strange subject chains with a leading `:` or with subjects starting with a `:`.

Examples:

http://nwbib.de/HT015854197
http://nwbib.de/HT018529018

The colons are added in front of the content from subfield `t`. E.g. the [source of HT018529018](http://lobid.org/hbz01/HT018529018) includes this:

[code]

The relevant pa